*{
    padding: 0;
    margin: 0;
}
.header{
    width: auto;
    margin: 0 auto;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
}
.box1{
    width: 206px;
    height: 196px;
    background-color: green;
    left: 50%;
    margin: 0 auto;
    top: 0px;
    position: absolute;
    transition: all 0.4s;
}
.box1:hover{
    transform: scale(1.2);
}
.photo{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-25%,-50%);
}
.tortoise{
    background-image: url(image/乌龟.png);
    transition: width 10s;
}
lable{
    z-index: 2;
    text-align: center;
    font-size: 60px;
    top: 230px;
    left: 30%;
    position: absolute;
    color: #4a593b;
}
p{
    z-index: 2;
    text-align: center;
    font-size: 25px;
    top: 320px;
    left: 25%;
    position: absolute;
    color: #4a593b;
}
button{
    width: 268px;
    height: 71px;
    background-color: #2a3f17;
    font-size: 20px;
    color: white;
    top: 530px;
    left: 395px;
    position: absolute;
    transition: all 0.4s;
}
button:hover{
    transform: scale(1.2);
}
.photo1{
    position: absolute;
    left: 371px;
    top: 700px;
}
.photo1 img{
    transition: all 0.4s;
}
.photo1 :hover{
    transform: scale(1.2);
}
.photo2{
    position: absolute;
    left: 762px;
    top: 700px;
}
.photo2 img{
    transition: all 0.4s;
}
.photo2 :hover{
    transform: scale(1.2);
}
.photo3{
    position: absolute;
    left: 1153px;
    top: 700px;
}
.photo3 img{
    transition: all 0.4s;
}
.photo3 :hover{
    transform: scale(1.2);
}
.deel{
    width: 100%;
    background: no-repeat center top;
    margin: auto;
    position: absolute;
    top: 1527px;
}
.box2{
    width: 750px;
    height: 535px;
    background-color: #e0dfdf;
    position: absolute;
    top: -100px;
    margin: 0 auto;
    left: 20%;
    right: 20%;
    transition: all 0.4s;
}
.box2:hover{
    transform: scale(1.2);
}
.box2 p{
    font-size: 15px;
    top: 50px;
    left: 60px;
    text-align: center;
}
.box2 button{
    top: 375px;
    left: 255px;
    font-size: 25px;
    transition: all 0.4s;
}
.box2 button:hover{
    transform: scale(1.2);
}

.word{
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 850px;
    left: 750px;
    color: #2a3f17;
}
.photo4 :hover{
    transform: scale(1.2);
}
.photo4 img{
    transform: all .4s;
}
.photo5 :hover{
    transform: scale(1.2);
}
.photo6 :hover{
    transform: scale(1.2);
}
.photo7 :hover{
    transform: scale(1.2);
}

.box4{
    overflow: hidden;
    width: 265px;
    height: 419px;
    background-color: #e0dfdf;
    top: 950px;
    left: 280px;
    position: absolute;
}
.box5{
    overflow: hidden;
    width: 265px;
    height: 419px;
    background-color: #e0dfdf;
    top: 950px;
    left: 571px;
    position: absolute;
}
.box6{
    overflow: hidden;
    width: 265px;
    height: 419px;
    background-color: #e0dfdf;
    top: 950px;
    left: 862px;
    position: absolute;
}
.box7{
    overflow: hidden;
    width: 265px;
    height: 419px;
    background-color: #e0dfdf;
    top: 950px;
    left: 1153px;
    position: absolute;
}
.box4 span{
    position: absolute;
    top: 293px;
    left: 100px;
    color: #2a3f17;
}
.box4 a{
    position: absolute;
    top: 338px;
    left: 62px;
    color: #2a3f17;
}
.box5 span{
    position: absolute;
    top: 293px;
    left: 100px;
    color: #2a3f17;
}
.box5 a{
    position: absolute;
    top: 338px;
    left: 62px;
    color: #2a3f17;
}
.box6 span{
    position: absolute;
    top: 293px;
    left: 98px;
    color: #2a3f17;
}
.box6 a{
    position: absolute;
    top: 338px;
    left: 62px;
    color: #2a3f17;
}
.box7 span{
    position: absolute;
    top: 293px;
    left: 75px;
    color: #2a3f17;
}
.box7 a{
    position: absolute;
    top: 338px;
    left: 62px;
    color: #2a3f17;
}
.text{
    border: 5px solid #2a3f17;
    width: 322px;
    height: 67px;
    font-size: 30px;
    margin: 0 auto;
    position: absolute;
    top: 1388px;
    left: 730px;
    text-align: center;
    justify-content: center;
}
.squirrel{
    position: absolute;
    top: 3196px;
    left: 245px;
}
.squirrel span{
    font-size: 25px;
    left: 867px;
    top: 0px;
    position: absolute;
    color: #2a3f17;
    transition: all 0.4s;
}
.squirrel span:hover{
    transform: scale(2.0);
}
.squirrel p{
    width: 700px;
    font-size: 20px;
    left: 617px;
    top:50px;
    transition-timing-function: linear;
    transition: all 0.4s;
}
.squirrel p:hover{
    transform: scale(1.2);
}
.squirrel:hover{
    width: 770px;
}
.squirrel label{
    font-size: 30px;
    width: 500px;
    height: 100px;
    top: 300px;
    position: absolute;
    left: 837px;
    color: #2a3f17;
}
.footer label{
    font-size: 20px;
    top: 1100px;
    position: absolute;
    left: 200px;
}
.footer span{
    font-size: 15px;
    top: 1110px;
    position: absolute;
    left: 350px;
}
.footer button{
    background: none#949f8b;
    font-size: 30px;
    position: absolute;
    top: 1130px;
    left: 970px;
    height: 60px;
    transition: all 0.4s;
}
.footer button:hover{
    transform: scale(1.2);
}
