@font-face {
  font-family: "iconfont"; /* Project id 3794132 */
  src: url('iconfont.woff2?t=1671678182519') format('woff2'),
       url('iconfont.woff?t=1671678182519') format('woff'),
       url('iconfont.ttf?t=1671678182519') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zifu-num:before {
  content: "\e724";
}

.icon-zifu-num1:before {
  content: "\e725";
}

.icon-zifu-num2:before {
  content: "\e726";
}

.icon-zifu-num3:before {
  content: "\e728";
}

.icon-zhaoxiangji:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e648";
}

.icon-2501caidan:before {
  content: "\e655";
}

.icon-search1:before {
  content: "\e61b";
  
}

.icon-menu:before {
  content: "\e621";
}

.icon-jiahao:before {
  content: "\e613";
}

.icon-jia:before {
  content: "\e695";
}

.icon-back:before {
  content: "\e601";
}

.icon-info1:before {
  content: "\e61e";
}

.icon-info2:before {
  content: "\e637";
}

.icon-back1:before {
  content: "\e608";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-info:before {
  content: "\e6e5";
}

.icon-fanhui:before {
  content: "\e66b";
}

.icon-fanhui2:before {
  content: "\e62e";
}

