:root {
    background-color: #b8e6f8;
}

label,
input,
button,
h3,
div {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logIn {
    margin: 100px auto;
    text-align: center;
    width: 200px;
    border: #1c2c7f 2px solid;
    border-radius: 10px;
    /* display: none; */
}

.logIn label,
.logIn input,
#log_in,
#avatar,
#name,
#age,
#strengths {
    margin: 15px auto;
}

#log_in {
    width: 180px;
    height: 30px;
    background-color: #60a8f4;
    border: none;
    border-radius: 5px;
}

#hint {
    height: 20px;
    color: #771d1d;
}

.success {
    margin: 100px auto;
    text-align: center;
    width: 200px;
    border: #1c2c7f 2px solid;
    border-radius: 10px;
    display: none;
}

#avatar {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: auto;
}