*{
    margin: 0 ;
    padding: 0;
}
@font-face {
    font-family: 'iconfont'; 
    src: url('./font_3833139_3u0pwexz6z9/iconfont.ttf') format('woff2'),
         url('./font_3833139_3u0pwexz6z9/iconfont.woff') format('woff'),
         url('./font_3833139_3u0pwexz6z9/iconfont.woff2') format('truetype');
  }
.iconfont{
    font-family: "iconfont"!important;
    font-size: 30px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing:grayscale;
    color: black;
}
.bx{
    width: 1920px;
    height: 4675px;
    display: flex;
    flex-direction: column;
    background-color:#f8f8f8;
    margin: 0 auto;
}
.first{
    height: 930px;
    background-image: url(https://huangyazhen66.oss-cn-beijing.aliyuncs.com/quanzhan4/da%E4%B9%8C%E9%BE%9F.png);  
    position: relative;
}
.top{
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.box{
    flex-shrink: 1;
}
.boxone{
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    position: absolute;
    left:880px;
    top:0;
    transition: 1s;
    transform: scale(0.8,0.8);
}
.pic1{
    height: 880px;
    color: #2a3f17;
    text-align: center;
    position: relative;
}
.boxtwo{
    height: 70px;
    width: 260px;
    background-color:#2a3f17;
    color: white;
    position: absolute;
    left: 400px;
    top: 600px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxthree{
    position: relative;
    top: 235px;
    font-size:30px;
}
.bird{
    height: 600px;
}
.boxx{
    height: 500px;
    width: 1110px;
    position: relative;
    bottom: 145px;
    left: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    color: white;
}
.all{
    position: relative;
}
.part{
    position: absolute;
    bottom: 90px;
    right: 65px;
}
.deer{
    height: 760px;
    position: relative;
    background-image: url(https://huangyazhen66.oss-cn-beijing.aliyuncs.com/quanzhan4/%E9%B9%BF.png);
}
.word{
    height: 545px;
    width: 945px;
    background-color: #e0dfdf;
    color:#2a3f17;
    position: absolute;
    top: -85px;
    left: 495px;
    
}
.word2{
    height: 325px;
    top:70px;
    left:75px;
    position: absolute;
    text-align: center;
    font-size: larger;
}
.button{
    width: 195px;
    height: 65px;
    background-color:#2a3f17 ;
    color:#e0dfdf;
    text-align: center;
    position: absolute;
    top:405px;
    left: 380px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.diff{
    height: 845px;
    position: relative;
}
.botdif{
    top:85px;
    left: 850px;
    position: absolute;
    width: 245px;
    height: 45px;
    color:#2a3f17;
    font-size: 50px;
}
.fourpic{
    width: 1150px;
    height: 420px;
    position: absolute;
    top: 160px;
    left: 400px;
    background-color: #e0dfdf;
    color:#2a3f17;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    
}

.botkno{
    top:700px;
    left: 800px;
    position: absolute;
    width: 355px;
    height: 65px;
    color:#2a3f17;
    font-size: 40px;
    font-weight: 400;
    border-color: #2a3f17;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
.squ{
    height: 1080px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.po{
    width: 960px;
    position: relative;
}
.pt{
    width: 850px;
    position: relative;
    color:#2a3f17 ;
    font-size: 25px;
    margin-top: 100px;
}
.w1{
    position: absolute;
    top:300px;
}
.w2{
    position: absolute;
    top:450px;
}
.w3{
    position: absolute;
    top:600px;
}
.w4{
    position: absolute;
    top:750px;
}
.picsqu{
    height: 1020px;
    width: 700px;
    position: absolute;
    left: 250px;
    background-image: url(https://huangyazhen66.oss-cn-beijing.aliyuncs.com/quanzhan4/%E6%9D%BE%E9%BC%A0.png);
}
.line{
    bottom: 0px;
    position: absolute;
    height: 2px;
    width: 1920px;
    background-color: #2a3f17;
}
.end{
    height: 460px;
    position: relative;
}
.o{
    width: 305px;
    height: 145px;
    position: absolute;
    top: 165px;
    left: 440px;
    font-size: 35px;
    line-height: 2;
    color: #2a3f17;
}
.t{
    width: 300px;
    height: 145px;
    position: absolute;
    top: 175px;
    left: 750px;
    font-size: 20px;
    color:#697461;
}
.th{
    width: 355px;
    height: 75px;
    position: absolute;
    top: 185px;
    left: 1230px;
    text-align: center;
    background-color:#949f8b;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
