@font-face {
  font-family: "iconfont"; /* Project id 3788433 */
  src: url('iconfont.woff2?t=1671500078136') format('woff2'),
       url('iconfont.woff?t=1671500078136') format('woff'),
       url('iconfont.ttf?t=1671500078136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-camera:before {
  content: "\e9ed";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-sousu:before {
  content: "\e627";
}

