@font-face {
  font-family: "iconfont"; /* Project id 3834510 */
  src: url('iconfont.woff2?t=1671646182673') format('woff2'),
       url('iconfont.woff?t=1671646182673') format('woff'),
       url('iconfont.ttf?t=1671646182673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-4:before {
  content: "\e601";
}

.icon-3:before {
  content: "\e602";
}

.icon-2:before {
  content: "\e603";
}

.icon-1:before {
  content: "\e604";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-xiangji:before {
  content: "\e62a";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-3xuhao:before {
  content: "\e616";
}

