{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/retrievepassword.css' %}">
	<title>找回密码-不堪玫瑰刺痛的人，不配拥有它的美。</title>
</head>
<body>

<div class="primarybox" style="background-image: url('{% static 'img/找回密码背景.jpg' %}') ">

	<div class="secondbox">

		<div class="base">
			<div class="w1">忘记密码了？没关系，在这里</br>找回你的密码吧</div>
		</div>

		<div class="top">

			<div class="title">
				<div style="font-size:40px;font-weight: 700;">找 回 密 码</div>
				<div style="font-size:20px;font-weight: 700;">Retrieve password</div>
				</br>
				<span style="font-size:20px;color:#c7c8c9;">————————————————————</span>
			</div>

			<img src="{% static 'img/yunzhenlogo1.png' %}" class="logo">

			<div class="yz">-{{title}}-</div>

			<div>
				<form method="post">
					{% csrf_token %}
				<div class="e">

				<input type="text" name="user_phone_number" class="k1" placeholder="手机号码" value="{{ number }}">
				<button class="b1" name="button" value="发送验证码">发送验证码</button>

				</div>

			</br>

				<div class="e">

				<input type="text" name="verification_code" class="k2" placeholder="验证码" value="{{ get_code }}">

				</div>

			</br>

				<div class="e">

				<input type="password" name="new_password" class="k3" placeholder="重置密码" value="{{ get_password }}">

				</div>

			</br>

				<div class="e">

				<input type="password" name="test_new_password" class="k4" placeholder="请确认您的密码" value="{{ re_get_password }}">

				</div>

			</br>
				<button class="b2" name="button" value="提交">提交</button>
                </form>
			</div>

			<div class="tail">
				记起密码了?返回
				<a href="/"  style="text-decoration:none;color:#6daef0">登录</a>
			</div>

				<img src="{% static 'img/找回密码.png' %}" class="pattern">
		</div>

	</div>

</div>
</body>
</html>