* {
  padding: 0;
  margin: 0;
}
.fat {
  width: 600px;
  height: 1000px;
  margin: 0 auto;
  background-image: url("https://bucketimage0.oss-cn-beijing.aliyuncs.com/%E5%9B%BE%E5%B1%82%200%20%E6%8B%B7%E8%B4%9D.png");
  overflow: hidden;
}
.scanf {
  text-align: center;
  line-height: 100px;
  padding-top: 100px;
}
input[type="text"] {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  width: 400px;
  height: 60px;
  border: 0px;
  font-size: 26px;
  line-height: 50px;
  outline: none;
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}

.text1 {
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
  color: rgba(255, 255, 255, 0.8);
}
#result {
  width: 100px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin: 20px auto 0 auto;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  line-height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 40px;
}
button {
  width: 50px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  display: block;
  margin: 0 auto;
  transition: transform 1s;
}
button:active {
  transform: scale(0.8, 0.8);
}
