*{
    margin: 0;
}
.big_box{
    width: 580px;
    height: 500px;
    background-color: black;
    margin: 30px auto;
}
.big_box div{
    margin-left: 15px;
    height: 100px;
    overflow: hidden;
}
.big_box p1{
    font-size: 50px;
    width: 550px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: #e2b985;
    cursor: pointer;
}
a{
    margin: 10px;
    text-decoration: none;
    height: 80px;
    text-align: center;
    border-radius: 15px;
    background-color: #ffebcc;
    font-size: 30px;
    color: black;
    display: none;
}