.top{
    width: 100%;
    height: 929px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 929px;
}
.top>.content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.topTop{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    display: flex;
}
.icon1{
    transition: all 0.1s;
}
.icon1:hover{
    transform:scale(0.9,0.9);
    transform-origin: center;
}
.camera{
    transition: all 1s;
}
.camera:hover{
    transform: scale(0.7);
}
.top_words{
    width: 100%;
    height: 175px;
    margin: 0 auto;
}
.button1{
    width: 260px;
    height: 70px;
    background-color: #2a3f17;
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 12px;
    top: 300px;
}
.flamigo{
    width: 1110px;
    height: 498px;
    position: absolute;
    top: 504px;
    left: 45px;
    display: flex;
    justify-content: space-between;
}
.flamigo1{
    width: 332px;
    height: 497px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/flamingo1.png);
    transition: all 1.5s;
}
.flamigo1:hover{
    transform: translateY(-60px);
}
.flamigo2{
    width: 332px;
    height: 497px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/flamingo2.png);
    transition: all 1.5s;
}
.flamigo2:hover{
    transform: translateY(-60px);
}
.flamigo3{
    width: 332px;
    height: 497px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/flamingo3.png);
    transition: all 1.5s;
}
.flamigo3:hover{
    transform: translateY(-60px);
}
.flamigo p{
    color: white;
    font-size: 40px;
    margin-top: 367px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}
.no_content{
    width: 100%;
    height: 598px;
    background-color: #f8f8f8;
}
.sign_up{
    width: 100%;
    height: 760px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 760px;
}
.sign_up>.content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.words1{
    width: 946px;
    height: 540px;
    background-color: #e0dfdf;
    position: absolute;
    left: 127px;
    bottom: 300px;
    transition: all 1.5s;
}
.words1:hover{
    transform: translateY(-45px);
}
.button2{
    width: 196px;
    height: 69px;
    background-color: #2a3f17;
    margin-top: 95px;
    margin-left: 375px;
    transition: all 0.5s;
}
.button2:hover{
    transform: scale(0.8);
}
.difference{
    width: 100%;
    height: 847px;
    background-color: #f8f8f8;
}
.difference>.content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.padding{
    width: 100%;
    height: 75px;
    background-color: #f8f8f8;
}
.difference_title{
    color: #2a3f17;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.title{
    margin: 0 auto;
    width: 250px;
    height: 70px;
    border: 5px solid transparent;
    transition: all 1s;
}
.title:hover{
    border-color: #2a3f17;
}
.animals{
    width: 100%;
    height: 414px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
}
.animal1{
    width: 261px;
    height: 414px;
    background-color: #e0dfdf;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/horse.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}
.animal1:hover{
    transform: translateY(-45px);
}
.animal2{
    width: 261px;
    height: 414px;
    background-color: #e0dfdf;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/kangaroo.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}
.animal2:hover{
    transform: translateY(-45px);
}
.animal3{
    width: 261px;
    height: 414px;
    background-color: #e0dfdf;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/lion.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}
.animal3:hover{
    transform: translateY(-45px);
}
.animal4{
    width: 261px;
    height: 414px;
    background-color: #e0dfdf;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/bird.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1s;
}
.animal4:hover{
    transform: translateY(-45px);
}
.button3{
    width: 356px;
    height: 65px;
    background-color: #f8f8f8;
    border-style: solid;
    border-color: #2a3f17;
    position: absolute;
    left: 423px;
    bottom: 83px;
    color: #2a3f17;
    font-size: 30px;
    text-align: center;
    transition: all 1.5s;
}
.button3:hover{
    background-color: #2a3f17;
    color: white;
}
.squirrel{
    width: 100%;
    height: 1080px;
    background-color: #f8f8f8;
    border-bottom: 2px solid  #2a3f17;
}
.squirrel>.content{
    width: 1350px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.squirrel .image{
    width: 700px;
    height: 1015px;
    background-image: url(https://appleandflower.oss-cn-beijing.aliyuncs.com/squirrel.png);
}
.squirrel .words2{
    margin: 90px;
    width: 666px;
    height: 900px;
    background-color: #f8f8f8;
    color: #2a3f17;
}
.squirrel_words1{
    width: 100%;
    height: 276px;
}
.squirrel_words1_title:hover{
    transform: translateY(-40px);
}
.squirrel_words1_content:hover{
    transform: scale(1.2);
    transform-origin: left;
}
.squirrel_words2{
    width: 100%;
    height: 559px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.words2_1,.words2_2,.words2_3,.words2_4{
    color: #2a3f17;
    font-size: 27px;
    width: 100%;
    height: 70px;
    display: flex;
    background-color: #f8f8f8;
    transition: all 1.5s;
}
.words2_1:hover,.words2_2:hover,.words2_3:hover,.words2_4:hover{
    transform: translateX(100px);
}
.bottom{
    width: 100%;
    height: 460px;
    background-color: white;
}
.bottom>.content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.bottom_words1{
    width: 250px;
    height: 122px;
    background-color: white;
    color: #2a3f17;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom_words2{
    width: 200px;
    height: 122px;
    margin-left: 54px;
    background-color: white;
    color: #4d5b41;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom_button{
    width: 360px;
    height: 72px;
    background-color: #949f8b;
    color: white;
    font-size: 40px;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 193px;
    transition: 1s;
}
.bottom_button:hover{
    transform: translateY(-40px);
    background-color: transparent;
    color: #949f8b;
}