* {
    margin: 0px;
    padding: 0px;
}


.Difference {
    position: absolute;
    /* 使用绝对定位时，margin居中会失效 */
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    /* 定位属性 */

    width: 250px;
    height: 60px;
    font-size: 48px;
    font-family: 微软雅黑;
    color: brown;
    background-color: yellow;
    text-align: center;
    /* 基本属性 */

    transition: all 1s;
}


.Difference:hover:after,
.Difference:hover:before {
    width: 100%;
    height: 100%;
}

.Difference:before,
.Difference:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    background-color: brown;


    border-style: solid;
    /* border-color: brown; */
    width: 0%;
    height: 0%;

}

.Difference:before {
    top: 0px;
    left: 0px;
    border-width: 5px 0px 0px 0px;
    background-color: brown;
    border-color: brown;



    transition-property: height, width, border-width;
    /* 渐变属性 */
    transition-duration: 0.4s, 0.8s, 0s;
    /* 动画持续时长 */
    transition-timing-function: ease-out;
    /* 加速度曲线 */
    transition-delay: 1.2s, 1.2s, 1.6s;
    /* 开始动画的时间 */

    /* transition: height 0.2s ease-out 0s, width 0.4s ease-out 0.2s ,border-width 0s ease-out 0.2s; */
    /* 简写属性 */
    /* transition CSS 属性是transition-property、transition-duration、transition-timing-function 和 transition-delay  */
}


.Difference:hover:before {
    border-right-width: 5px;

    transition-property: width, height;
    /* 渐变属性 */
    transition-duration: 0.8s, 0.4s;
    /* 动画持续时长 */
    transition-timing-function: ease-out;
    /* 加速度曲线 */
    transition-delay: 0s, 0.8s;
    /* 开始动画的时间 */
    /* transition: width 0.4s ease-out 0s, height 0.2s ease-out 0.4s; */
}

.Difference:after {
    bottom: 0px;
    right: 0px;
    border-width: 0px 0px 5px 0px;
    background-color: blueviolet;
    border-color: blueviolet;



    transition-property: height, width, border-width;
    /* 渐变属性 */
    transition-duration: 0.4s, 0.8s, 0s;
    /* 动画持续时长 */
    transition-timing-function: ease-out;
    /* 加速度曲线 */
    transition-delay: 0s, 0.4s, 0.4s;
    /* 开始动画的时间 */
    /* transition: height 0.2s ease-out 0s, width 0.4s ease-out 0.2s ,border-width 0s ease-out 0.2s; */

}

.Difference:hover:after {
    border-left-width: 5px;

    transition-property: width, height,border-left-width;
    /* 渐变属性 */
    transition-duration: 0.8s, 0.4s,0s;
    /* 动画持续时长 */
    transition-timing-function: ease-out;
    /* 加速度曲线 */
    transition-delay: 1.2s, 2s,1.2s;
    /* 开始动画的时间 */
    /* transition: width 0.4s ease-out 0s, height 0.2s ease-out 0.4s; */

}
