* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    overflow-x: hidden;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.header{
    height: 1360px;
    width: 100%;
}
.search{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.more{
    width: 78px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
}
.search-image:hover,.more:hover{
    transform: scale(2);
}
.search-image{
    width: 66px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0.5s;
}
.circle{
    height: 160px;
    width: 160px;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    border: 10px solid snow;
    border-radius: 50%;
}
.camera{
    height: 120px;
    width: 120px;
    position: absolute;
    top: 55px;
    margin-left: 40px;
}
.takephoto:hover{
    transform: scale(0.8);
}
.takephoto{
    height: 200px;
    width: 200px;
    background-color: #81c04b;
    position: absolute;
    top: 0;
    transition: 1s;
}
.bg{
    height: 878px;
    width: 100%;
    position: absolute;
    top: 50px;
}
.bg-title{
    height: 114px;
    width: 984px;
    position: absolute;
    top: 317px;
    text-align: center;
}
.bg-text{
    height: 84px;
    width: 1113px;
    position: absolute;
    top: 390px;
    margin: 0 auto;
    font-size: 30px;
    color: #2a3f17;
}
.expiore{
    height: 70px;
    width: 260px;
    background-color: #2a3f17;
    position: absolute;
    top: 600px;
    right: 50%;
    margin-right: 270px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.birds{
    height: 500px;
    width: 1113px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 781px;
}
.bird:hover{
    transform: translateY(-30px);
}
.bird{
    height: 500px;
    width: 333px;
    position: relative;
    transition: all 1s;
}
.bird-text{
    width: 142px;
    height: 52px;
    position: absolute;
    right: 55px;
    bottom: 86px;
    text-align: center;
    line-height: normal;
    color: #fff;
    font-size: 48px;
}
.company-1{
    height: 932px;
    width: 100%;
}
.deer{
    height: 760px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("https://yanyufan.oss-cn-hangzhou.aliyuncs.com/E://pictures bedlu.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.deer-text{
    height: 542px;
    width: 947px;
    position: absolute;
    bottom: 302px;
    background-color: #e0dfdf;
    display: flex;
    justify-content: center;
    transition: all 1s;
}
.deer-text:hover{
    transform: translateY(-30px);
}
.txtbox{
    width: 798px;
    height: 234px;
    position: absolute;
    bottom: 240px;
    font-size: 20px;
    color: #2a3f17;
}
.signup:hover{
    transform: scale(0.8);
}
.signup{
    height: 70px;
    width: 194px;
    position: absolute;
    bottom: 100px;
    background-color: #2a3f17;
    font-size: 30PX;
    text-align: center;
    line-height: 70PX;
    color: #fff;
    transition: all 0.6s;
}
.company-2{
    height: 636px;
    width: 100%;
}
.border-1
{
    height: 3px;
    width: 0;
    position: absolute;
    top: 50px;
}
.border-2{
    height: 0;
    width: 3px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: 175px;
}
.border-3{
    height: 3px;
    width: 0;
    position: absolute;
    top: 130px;
    
}
.display-title{
    height: 80px;
    width: 330px;
    position: absolute;
    top: 45px;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    color: #2a3f17;
}
.display-title::before{
    content: " ";
    display: block;
    width: 0px;
    height: 3px;
    position: absolute;
    top: 0;
    background-color: #2a3f17;
    transition: all 0.5s;
}

.display-title::after{
    content: " ";
    display: block;
    width: 3px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2a3f17;
}
@keyframes wide{
    0%{}
    100%{
        width: 330px;
    }
}
@keyframes high{
    0%{}
    100%{
        height: 80px;
    }
}
.right{
    width: 3px;
    height: 0PX;
    position: absolute;
    background-color: #2a3f17;
    top: 0;
    left: 50%;
    margin-left: 165px;
}
.left{
    width: 0px;
    height: 3px;
    background-color: #2a3f17;
    position: absolute;
    bottom: 0;
    right: 0;
   /* left: 50%;
    margin-left: 165px;*/
}
.display-title:hover .left {
    animation-name: wide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
    animation-timing-function: linear;
}
.display-title:hover .right {
    animation-name: high;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}
.display-title:hover::before{
    animation-name: wide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.display-title:hover::after{
    animation-name: high;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-delay: 1.2s;
    animation-timing-function: linear;
}
.display-picture{
    height: 413px;
    width: 1144px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 160px;
}
.picture{
    height: 257px;
    width: 264px;
}
.box{
    transition: all 1s;
}
.box:hover{
    transform: translateY(-30px);
}
.text-1{
    height: 78px;
    width: 264px;
    font-size: 30px;
    background-color: #e0dfdf;
    color: #2a3f17;
    text-align: center;
    line-height: 78px;
}
.text-2{
    height: 78px;
    width: 264px;
    font-size: 22px;
    color: #2a3f17;
    background-color: #e0dfdf;
    text-align: center;
    line-height: 78px;
    display: flex;
    justify-content: center;
}
.text-2::after{
    content: " ";
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    bottom: 20px;
    background-color: #2a3f17;
}
.company-3{
    height: 1290px;
    width: 100%;
}
.knowmore:hover{
    background-color: #2a3f17;
    color: #fff;
}
.knowmore{
    width: 360px;
    height: 64px;
    position: absolute;
    top: 0;
    border: 3px solid #2a3f17;
    font-size: 30px;
    text-align: center;
    line-height: 64px;
    transition: all 1s;
}
.showimage{
    height: 1023px;
    width: 701px;
    position: absolute;
    right: 50%;
    bottom: 56px;
}
.show-text{
    height: 250px;
    width: 630px;
    position: absolute;
    bottom: 800px;
    left: 50%;
    margin-left: 128px;
}
.show-text-1{
    height: 110px;
    width: 100%;
    float: left;
    font-size: 36px;
    color: #2a3f17;
    transition: 1s;
}
.show-text-1:hover{
    transform: translateY(-30px);
}
.show-text-2{
    height: 140px;
    width: 100%;
    float: left;
    font-size: 24px;
    line-height: 30px;
    color: #2a3f17;
    transition: all 1s;
}
.show-text-2:hover{
    transform: translate(100px) scale(1.2);
}
.lists{
    width: 454px;
    height: 640px;
    position: absolute;
    left: 50%;
    margin-left: 128px;
    bottom: 126px;
}
.list{
    height: 160px;
    width: 454px;
    float: left;
    position: relative;
    transition: all 1s;
}
.list:hover{
    transform: translate(50px);
}
.num{
    height: 70px;
    width: 70px;
    border: 2px solid #2a3f17;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50px;
    font-size: 48px;
    color: #2a3f17;
    text-align: center;
    line-height: 70px;
}
.txt{
    height: 50px;
    width: 350px;
    position: absolute;
    left: 100px;
    bottom: 30px;
    font-size: 24px;
    color: #2a3f17;
}
.footer{
    height: 460px;
    width: 100%;
    border-top: 2px solid #2a3f17;
}
.footer-text-1{
    width: 269px;
    height: 170px;
   position: absolute;
   top: 150px;
   right: 50%;
   margin-right: 300px;
    color: #2a3f17;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}
.footer-text-2{
    width: 160px;
    height: 170px;
    position: absolute;
    top: 180px;
    right: 50%;
    margin-right: 100px;
}
.txt-1{
    height: 60px;
    width: 160px;
    font-size: 30px;
    color: #4d5b41;
}
.txt-2{
    height: 110px;
    width: 160px;
    font-size: 24px;
    color: #4d5b41;
    line-height: 40px;
    text-align: center;
}
.bigworld:hover{
    background-color: #fff;
    color: #2a3f17;
    transform: translateY(-30px);
}
.bigworld{
    width: 360px;
    height: 70px;
    position: absolute;
    bottom: 195px;
    left: 50%;
    margin-left: 300px;
    background-color: #949f8b;
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    transition: all 1s;
}