.footer{
    width: 100%;
    height: 460px;
    background-color: white;
    border-top: 2px solid black;
}
.footer1{
    width: 350px;
    height: 165px;
    text-align: left;
    font-size: 30px;
    margin: 174px 440px;
}
.footer2{
    width: 230px;
    height: 116px;
    margin: 174px 745px;
    text-align: left;
    font-size: 20px;
    color: #4d5b41;
    transform: translateY(-340px);
}
.big{
    width: 361px;
    height: 73px;
    text-align: center;
    background-color: #949f8b;
    color: white;
    font-size: 40px;
    margin-left: 1050px;
    transform: translateY(-600px);
    transition: 1.5s;
}
.big:hover{
    color: #949f8b;
    background-color: white;
    transform: translateY(-650px);
}