.index{
    width: 100%;
    height: 760px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E9%B9%BF.png);/*鹿*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.wordbox{
    width: 946px;
    height: 541px;
    background-color: #e0dfdf;
    display: flex;
    position: relative;
    margin:  auto;
    transform: translateY(-75px);
    transition: 1s;
}
.wordbox:hover{
    transform: translateY(-115px);
}
.words{
    width: 795px;
    height: 244px;
    position: absolute;
    margin-top: 70px;
    margin-left: 75px;
    text-align: center;
}
.signup{
    width: 197px;
    height: 70px;
    position: absolute;
    margin-top: 408px;
    margin-left: 374px;
    text-align: center;
    font-size: 40px;
    background-color: #2a3f17;
    color: white;
    transition: 1s;
}
.signup:hover{
    transform: scale(0.9,0.9);
}