.panel{
    width: 100%;
    height: 1927px;
    background-color: white;
}
.back2{
    width: 1140px;
    height: 572px;
    background-color: white;
    margin: 0 auto;
}
.back3{
    width: 1430px;
    height: 1355px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.textbox{
    width: 1140px;
    height: 522px;
    background-color: white;
    transform: translateY(50px);
}
.dif{
    width: 250px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    color: #2a3f17;
    margin: auto;
    transform: translateY(30px);
    transition: 1s;
}
.dif:hover{
    border: 5px solid #2a3f17;
    transform: translateY(20px);
}
.animal{
    width: 1140px;
    height: 414px;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.thing1{
    width: 263px;
    height: 414px;
    background-color: #e0dfdf;
    transition: 1s;
}
.thing1:hover{
    transform: translateY(-20px);
}
.thing2 {
    width: 263px;
    height: 414px;
    background-color: #e0dfdf;
    transition: 1s;
}
.thing2:hover {
    transform: translateY(-20px);
}
.thing3 {
    width: 263px;
    height: 414px;
    background-color: #e0dfdf;
    transition: 1s;
}
.thing3:hover {
    transform: translateY(-20px);
}
.thing4 {
    width: 263px;
    height: 414px;
    background-color: #e0dfdf;
    transition: 1s;
}
.thing4:hover {
    transform: translateY(-20px);
}
/*马*/
.p1{
    width: 263px;
    height: 260px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E9%A9%AC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.horse{
    width: 263px;
    height: 154px;
    text-align: center;
    font-size: 20px;
}
/*袋鼠*/
.p2 {
    width: 263px;
    height: 260px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E8%A2%8B%E9%BC%A0.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.kangaroo {
    width: 263px;
    height: 154px;
    text-align: center;
    font-size: 20px;
}
/*狮子*/
.p3 {
    width: 263px;
    height: 260px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E7%8B%AE%E5%AD%90.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lion {
    width: 263px;
    height: 154px;
    text-align: center;
    font-size: 20px;
}
/*小鸟*/
.p4 {
    width: 263px;
    height: 260px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E5%B0%8F%E9%B8%9F.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hummingbird {
    width: 263px;
    height: 154px;
    text-align: center;
    font-size: 20px;
}
.knowmore{
    width: 359px;
    height: 70px;
    border: 3px solid #2a3f17;
    color: #2a3f17;
    font-size: 40px;
    text-align: center;
    position: absolute;
    margin: 120px 535px;
    transition: 1s;
}
.knowmore:hover{
    background-color: #2a3f17;
    border: 3px solid white;
    color:white;
}
.story{
    width: 1430px;
    height: 1020px;
    position: absolute;
    margin: 274px 0px;
    display: flex;
    justify-content: space-between;
}
/*松鼠*/
.picture{
    width: 702px;
    height: 1020px;
    background-image: url(https://yundingshu.oss-cn-beijing.aliyuncs.com/picgo/%E6%9D%BE%E9%BC%A0.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.tit{
    width: 600px;
    height: 1020px;
    display: flex;
    position: relative;
}
.box3{
    width: 540px;
    height: 210px;
    text-align: left;
    font-size: 20px;
    position: absolute;
    margin-top: 90px;
    transition: 2s;
}
.box3:hover{
    transform: translateX(50px);
}
.o1{
    width: 300px;
    height: 70px;
    background-color: white;
    position: absolute;
    margin-top: 360px;
    text-align: center;
    font-size: 25px;
    transition: 1s;
}
.o1:hover{
    transform: translateX(120px);
}
.o2 {
    width: 300px;
    height: 70px;
    background-color: white;
    position: absolute;
    margin-top: 517px;
    text-align: center;
    font-size: 25px;
    transition: 1s;
}
.o2:hover {
    transform: translateX(120px);
}
.o3 {
    width: 300px;
    height: 70px;
    background-color: white;
    position: absolute;
    margin-top: 680px;
    text-align: center;
    font-size: 25px;
    transition: 1s;
}
.o3:hover {
    transform: translateX(120px);
}
.o4 {
    width: 300px;
    height: 70px;
    background-color: white;
    position: absolute;
    margin-top: 850px;
    text-align: center;
    font-size: 25px;
    transition: 1s;
}
.o4:hover {
    transform: translateX(120px);
}