@font-face {
  font-family: "iconfont"; /* Project id 3831138 */
  src: url('iconfont.woff2?t=1671412082790') format('woff2'),
       url('iconfont.woff?t=1671412082790') format('woff'),
       url('iconfont.ttf?t=1671412082790') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-circle2yuanquan:before {
  content: "\e71f";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-goutongye_santiaogang_tiaozhuanxuanzehaizi:before {
  content: "\e638";
}

