{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>登录-勇敢地接受任务，然后完成它。</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    {% if td_h >= 7 and td_h < 19 %}
	<div class="container" style="background-image: url('{% static 'img/yun.jpg' %}')">
    {% else  %}
    <div class="container" style="background-image: url('{% static 'img/yun3.jpg' %}')">
    {% endif %}
		<div class="center">

			<div class="centerbox">

				<div class="header">
					<span style="color:#999999;font-size: 20px;">——————</span>
					<span style="font-size:25px">  密码登录  </span>
					<span style="color:#999999;font-size: 20px;">——————</span>
					</br></br>
					<span style="color:#2863a5;font-size:20px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ title }}</span>
				</div>

				<div class="ele">
					<form method="post" action="/">
                        {% csrf_token %}
					<input type="text" placeholder="&nbsp&nbsp&nbsp你的手机号" style="border-color: #a1988d;border-width: 2px;border-radius:10px ; height: 50px ;width: 362px;" name="user_phone_number">

					</br></br>

					<input type="password" style="border-color: #a1988d;border-width: 2px;border-radius:10px ; height: 50px ;width: 362px;" placeholder="&nbsp&nbsp&nbsp密码" name="user_password">

					</br>

					<div class="buttonbox">
					<button class="b1"><span>登录</span></button>
					</div>
                    </form>
				</div>

				<div class="other">
					<div class="lj">
					<a href="/retrievepassword/" style="text-decoration: none;color:#4377b0;" ><span>忘记密码?</span></a>
					&nbsp&nbsp&nbsp
					<span>还没账号?点击这里</span><a href="/register/" style="text-decoration:none;color:#4377b0;" target="_blank">注册</a>
					</div>
					<br>
					<div class="social">
						<span style="font-size:15px;">社交帐号登录</span>

						<span >

							<span><img src="{% static 'img/qq.png' %}"></span>
							<span style="font-size:10px" class="log">QQ账号登录</span>

							<span><img src="{% static 'img/wx.png' %}"></span>
							<span style="font-size:10px" class="log">微信账号登录</span>

						</span>
					</div>
					<div style="font-size:20px;color:#babcbd;">—————————————————</div>
				</div>

				<div class="footer">
					<img src="{% static 'img/yunzhenlogo.png' %}" class="logo">
					</br></br>
					<div style="color:#848485;font-size:12px;">云朵们忙碌一周了，作业终于完成了，放松一下吧！</div>
				</div>
			</div>
            {% if td_h >= 7 and td_h < 19 %}

            {% else %}
			<div class="spark">
				<img src="{% static 'img/流星2.png' %}" style="color: white;height: 20px;width: 25px;">
				<img src="{% static 'img/流星2.png' %}" style="color: white;height: 40px;width: 44px;">
				<img src="{% static 'img/流星2.png' %}" style="color: white;height: 13px;width: 15px;">
			</div>
            {% endif %}
		</div>



		</br></br>
		<div class="bottom">
			<span class="w1" >振&nbsp翅&nbsp云&nbsp顶&nbsp之&nbsp上</span>
			</br>
			<span class="w2" >极&nbsp目&nbsp星&nbsp辰&nbsp大&nbsp海</span>
		</div>
	</div>

</body>
</html>