@font-face {
  font-family: "iconfont"; /* Project id 3834123 */
  src: url('iconfont.woff2?t=1671585037189') format('woff2'),
       url('iconfont.woff?t=1671585037189') format('woff'),
       url('iconfont.ttf?t=1671585037189') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e637";
}

.icon-search:before {
  content: "\e623";
}

