* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

.web {
    height: auto;
    width: 280px;
    margin: 100px auto;
    border-radius: 10px;
    border: 3px solid rgb(70, 40, 0);
    background-color: rgb(225, 169, 94);
}

input {
    background-color: transparent;
    outline: none;
}

.button {
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 20px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid rgb(70, 40, 0);
    background-color: rgb(249, 143, 4);
}

ul {
    height: auto;
    width: 120px;
    margin: 10px auto 5px;
    border-radius: 10px;
    background-color: bisque;
}