#box {
  width: 200px;
  height: 340px;
  background-color: rgb(138, 193, 51);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin: auto;

  /* display: none; */
}
#guo {
  width: 50px;
  background-color: cadetblue;
  text-align: center;
}
#guo:hover {
  background-color: darkgray;
  border: 1px solid black;
}
