* {
    padding: 0;
    margin: 0;
}
html::before {
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg,#FFF886 10%,#f072b6 100%);
}
#login {
    width: 600px;
    height: 200px;
    margin: 200px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

input {
    width: 400px;
    height: 40px;
    padding-left: 15px;
    margin: 20px 20px 0 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    font-size: 20px;
}
button {
    width: 80px;
    height: 40px;
    margin: 20px 260px 0 260px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}
#userMessage {
    display: none;
    width: 300px;
    height: 280px;
    margin: 200px auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
#userMessage h2 {
    margin: 0 100px;
}
#userMessage img {
    width: 80px;
    height: 80px;
    margin: 20px 110px;
    border-radius: 50%;
}
#userMessage p {
    margin:  10px 100px ;
}
#userMessage #pThree {
    margin: 10px  88px;
}

