 * {
     margin: 0;
 }

 .background_1 {
     width: 1200px;
     height: 49px;
     margin: auto;
 }

 .background_2 {
     width: 1200px;
     height: 879px;
     margin: auto;

 }

 .background_3 {
     width: 1200px;
     height: 601px;
     margin: auto;
     background-color: #fff;
 }

 .background_4 {
     height: 760px;
     width: 1200px;
     margin: auto;
 }

 .container_1 {
     width: 1200px;
     height: 4676px;
     margin: auto;
     background-color: #fff;
 }

 .top {
     display: flex;
     justify-content: space-between;
     width: 1200px;
     height: 49px;
     background-color: #fff;
 }

 .top_left {
     width: 80px;
     height: 49px;
 }

 .top_left:hover {
     transform: scale(0.75);
 }

 .top_right {
     width: 80px;
     height: 49px;
 }

 .top_right:hover {
     transform: scale(0.75);
 }

 .greenimage {
     position: relative;
     top: -49px;
     left: 50%;
     margin-left: -101px;
     width: 202px;
     height: 201px;
     transition: 2s;
 }

 .greenimage:hover {
     transform: scale(1.3);
 }

 .picture_1 {
     width: 1200px;
     height: 879px;
 }

 .white_1 {
     width: 1200px;
     height: 597px;
 }

 .threeimage {
     display: flex;
     justify-content: space-between;
     width: 1200px;
     height: 507px;
     position: relative;
     top: -183px;
 }

 .threeimage div {
     width: 333px;
     height: 502px;
     transition: 1.5s;
 }

 .threeimage div:hover {
     transform: translateY(-50px);
 }

 .picture_2 {
     width: 1200px;
     height: 760px;
 }

 .word {
     width: 947px;
     height: 547px;
     background-color: #e0dfdf;
     position: relative;
     left: 120px;
     top: -79px;
     transition: 2s;
 }

 .word:hover {
     transform: translateY(-70px);
 }

 .upword {
     width: 868px;
     height: 269px;
     margin: auto;
     font-size: 22px;
 }

 .sign {
     width: 200px;
     height: 70px;
     position: relative;
     left: 370px;
     top: 400px;
     background-color: #2a3f17;
     text-align: center;
     line-height: 70PX;
     font-size: 35PX;
     color: #FFF;
     transition: 2s;
 }

 .sign:hover {
     transform: scale(1.5);
 }

 .white_3 {
     width: 1200px;
     height: 1929px;
     background-color: #f8f8f8;
 }

 .different {
     width: 300px;
     height: 100px;
     margin: auto;
     position: relative;
     top: 80px;
     text-align: center;
     line-height: 100px;
     font-size: 40px;
 }

 .shou {
     width: 1153px;
     height: 400px;
     margin: auto;
     position: relative;
     top: 90px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .shou div {
     width: 264px;
     height: 200px;
     margin-top: -5px;
 }

 .w1:hover {
     transform: translateY(-100px);
 }

 .w2:hover {
     transform: translateY(-100px);
 }

 .w3:hover {
     transform: translateY(-100px);
 }

 .w4:hover {
     transform: translateY(-100px);
 }

 .horse {
     width: 260px;
     height: 100px;
     background-color: #e0dfdf;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;

 }

 .horse div {
     width: 220px;
     height: 45px;
     text-align: center
 }

 .horse1 {
     font-size: 40px;
 }

 .horse a {
     font-size: 20px;
 }

 .kangraoo {
     width: 260px;
     height: 146px;
     background-color: #e0dfdf;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .kangraoo div {
     width: 220px;
     height: 45px;
     text-align: center
 }

 .kangraoo1 {
     font-size: 40px;
 }

 .kangraoo a {
     font-size: 20px;
 }

 .lion {
     width: 260px;
     height: 146px;
     background-color: #e0dfdf;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .lion div {
     width: 220px;
     height: 45px;
     text-align: center
 }

 .lion1 {
     font-size: 40px;
 }

 .lion a {
     font-size: 20px;
 }

 .hummingbird {
     width: 260px;
     height: 146px;
     background-color: #e0dfdf;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .hummingbird div {
     width: 220px;
     height: 45px;
     text-align: center
 }

 .hummingbird1 {
     font-size: 40px;
 }

 .hummingbird a {
     font-size: 20px;
 }

 .knowmore {
     width: 360px;
     height: 70px;
     text-align: center;
     border-style: solid;
     margin: auto;
     position: relative;
     top: -1250px;
     font-size: 50px;
     transition: background-color 3s;
 }

 .knowmore:hover {
     background-color: #2a3f17;
 }

 .squirrel {
     width: 699px;
     height: 1024px;
     transform: translate(20px, -1200px);
 }

 .leftword {
     display: flex;
     flex-direction: column;
     position: absolute;
     left: 1100px;
     top: 3100px;
     width: 560px;
     height: 1000px;
 }

 .introduce {
     width: 400px;
     height: 164px;
     transition: 2s, 2s;
     position: relative;
     left: 1500px;
 }

 .introduce:hover {

     transform: scale(1.2);
 }

 .title {
     width: 213px;
     height: 63px;
     font-size: 30px;
     transition: 2s;
     position: relative;
     left: 1500px;
 }

 .title:hover {
     transform: translateY(-70px);
 }

 .num1 {
     width: 307px;
     height: 106px;
     font-size: 20px;
     transition: 2s;
     position: relative;
     left: 1500px;
 }

 .num1:hover {
     transform: translateX(100px);
 }

 .num2 {
     width: 307px;
     height: 106px;
     font-size: 20px;
     transition: 2s;
     position: relative;
     left: 1500px;
 }

 .num2:hover {
     transform: translateX(100px);
 }

 .num3 {
     width: 307px;
     height: 106px;
     font-size: 20px;
     transition: 2s;
     position: relative;
     left: 1500px;
 }

 .num3:hover {
     transform: translateX(100px);
 }

 .num4 {
     width: 307px;
     height: 106px;
     font-size: 20px;
     transition: 2s;
     position: relative;
     left: 1500px;
 }

 .num4:hover {
     transform: translateX(100px);
 }

 .white_4 {
     width: 1200px;
     height: 461px;
 }

 .line {
     width: 1200px;
     height: 3px;
     background-color: black;
     margin: auto;
     transform: translate(0px, -540px);
 }

 .left1 {
     width: 268px;
     height: 70px;
     transform: translate(200px, -450px);
     font-size: 30px;
 }

 .left2 {
     width: 268px;
     height: 70px;
     transform: translate(200px, -420px);
     font-size: 30px;
 }

 .more {
     width: 268px;
     height: 70px;
     transform: translate(480px, -655px);
     font-size: 25px;
     color: #4d5b41;
 }

 .create1 {
     width: 268px;
     height: 70px;
     transform: translate(480px, -650px);
     font-size: 20px;
     color: #4d5b41;
 }

 .create2 {
     width: 268px;
     height: 70px;
     transform: translate(480px, -680px);
     font-size: 20px;
     color: #4d5b41;
 }

 .big {
     width: 363px;
     height: 70px;
     background-color: #949f8b;
     text-align: center;
     line-height: 70px;
     font-size: 30px;
     color: #fff;
     margin: auto;
     position: relative;
     top: -600px;
     left: 400px;
     transition: 2s, color 2s;
 }

 .big:hover {
     transform: translateY(-100px);
     background-color: #fff;

 }