body{
    background: url("https://xirealm.oss-cn-beijing.aliyuncs.com/xi/v2-4b4b5e7a2f44b06f0194fdfe28c9d563_r.jpg");
}

h1{
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    font-family: "华文楷体";
}


.box{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
    height: 300px;
    width:500px;
    border: solid 2px black;
    background: rgba(0,0,0,0.1);
    font-size: 25px;
    font-family: "华文楷体";
    text-align: left;
}

.string , .subString{
    display: block;
    height: 60px;
    width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    line-height: 60px;
}

input{
    border: 2px solid #2a3f17;
    border-radius: 5px;
    height: 20px;
    width: 250px;
}

input:focus {
    border: 2px solid black;
}

button{
    display: block;
    margin:20px auto;
    height: 50px;
    width: 200px;
    border: 2px solid #2a3f17;
    border-radius: 15px;
    background: #949f8b;
    font-size: 25px;
    font-weight: 600;
    font-family: "华文楷体";
    line-height: 50px;
    text-align: center;
    transition: border 1s ease-out,background 1s,color 1s ease-out;
}

button:hover{
    background: rgba(0, 0, 0, 0.5);
    color: white;
} 

button:focus{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}


.result{
    text-align: center;
    letter-spacing: 1px;
}

.end{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: "华文楷体";
}
