@font-face {
  font-family: "iconfont"; /* Project id 3791386 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1671503670138') format('woff2'),
       url('iconfont.woff?t=1671503670138') format('woff'),
       url('iconfont.ttf?t=1671503670138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-paizhao:before {
  content: "\e600";
}

.icon-GoBack:before {
  content: "\e6c4";
}

.icon-info-copy:before {
  content: "\e6df";
}

