@font-face {
  font-family: "iconfont"; /* Project id 3814607 */
  src: url('iconfont.woff2?t=1670414107109') format('woff2'),
       url('iconfont.woff?t=1670414107109') format('woff'),
       url('iconfont.ttf?t=1670414107109') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera-full:before {
  content: "\e967";
}

.icon-caidan_o:before {
  content: "\eb71";
}

.icon-sousuo:before {
  content: "\e638";
}

