* {
    margin: 0;
    padding: 0;
}

body {
    background: url("https://wangshuojie.oss-cn-beijing.aliyuncs.com/img/202301051625402.jpg");
}

.box {
    margin: 280px auto;
    width: 500px;
    height: 300px;
    border: 2px solid wheat;
}

h1 {
    display: block;
    text-align: center;
}

.email {
    margin: 40px 80px;
    font-size: 30px;
    border-bottom: 2px solid #388cf4;
}

.password {
    margin: -20px 80px;
    font-size: 30px;
    border-bottom: 2px solid #388cf4;
}

input {
    height: 25px;
    line-height: 35px;
    font-size: 20px;
    font-weight: lighter;
    background-color: transparent;
    border-style: hidden;
    border-bottom: blue;
    width: 200px;
}

button {
    width: 150px;
    height: 50px;
    margin: -30px 180px;
    border-radius: 50px;
    background-color: #00c8ff;
}

.box2 {
    margin: 280px auto;
    width: 500px;
    height: 300px;
    border: 2px solid wheat;
    display: none;
}
#message {
    margin: 10px 40px;
    width: 400px;
    height: 250px;
    font-size: 30px;
    line-height: 70px;
}
#message p {
    border-bottom: 1px solid black;
}
.tip {
    margin: 25px 110px;
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: red;
}