* {
  padding: 0px;
  margin: 0px;
}
.top {
  height: 50px;
  width: 100%;
}
.tophead {
  height: 50px;
  width: 1510px;
  display: flex;
  background-color: #f8f8f8;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0 auto;
}
.tophead span {
  font-size: 30px;
  display: inline-block;
  line-height: 50px;
  transition: transform 0.5s;
}
.tophead span:hover {
  transform: scale(0.5);
}
.camera {
  width: 202px;
  height: 202px;
  background-color: #81c04b;
  position: relative;
  transition: transform 0.5s;
}
.camera:hover {
  transform: scale(0.8);
}
.camera .iconfont {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.camera img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}
.banner {
  background-image: url(https://bucketimage0.oss-cn-beijing.aliyuncs.com/%E4%B9%8C%E9%BE%9F.png);
  width: 100%;
  height: 929px;
  background-position: center;
  background-repeat: no-repeat;
  /* padding-bottom: 160px; */
}
.banner- {
  width: 1110px;
  margin: 0 auto;
}
.banner-text {
  color: #2a3f17;
  font-family: Georgia;
  width: 1010px;
  padding-top: 280px;
}
.banner-text-topic {
  font-size: 72px;
  text-align: center;
  padding-bottom: 25px;
}

.banner-text-con {
  font-size: 30px;
}
.banner-but {
  width: 260px;
  height: 70px;
  background-color: #2a3f17;
  color: #fff;
  line-height: 70px;
  font-size: 30px;
  font-family: "微软雅黑";
  margin: 120px 5px 105px 0px;
  border: none;
  display: inline-block;
}
.banner-img {
  display: flex;
  justify-content: space-between;
}
.banner-img img {
  transition: transform 1s;
}
.banner-img img:hover {
  transform: translateY(-60px);
}
.det {
  width: 100%;
  height: 760px;
  margin-top: 600px;
  background: url(https://bucketimage0.oss-cn-beijing.aliyuncs.com/%E9%B9%BF.png)
    no-repeat;
  background-position: center;
}
.det- {
  width: 950px;
  height: 540px;
  margin: 0 auto;
  position: relative;
}

.det-con {
  width: 950px;
  height: 540px;
  background-color: #e0dfdf;
  margin: 0 auto;
  position: absolute;
  top: -80px;
  text-align: center;
  transition: transform 1s;
}
.det-con:hover {
  transform: translateY(-50px);
}
.det-con-text {
  width: 800px;
  height: 230px;
  padding: 70px;
  font-size: 20px;
  font-family: "微软雅黑";
  line-height: 30px;
  color: #2a3f17;
}
.det-con-but {
  width: 195px;
  height: 65px;
  background-color: #2a3f17;
  color: #fff;
  font-size: 30px;
  font-family: "微软雅黑";
  margin: 100px auto 0px auto;
  border: none;
  line-height: 65px;
  display: inline-block;
  transition: transform 1s;
}
.det-con-but:hover {
  transform: scale(0.8);
}
.dif {
  width: 1150px;
  /* height: 850px; */
  margin: 0 auto;
}
.dif-head {
  width: 290px;
  height: 60px;
  font-size: 48px;
  /* box-sizing: border-box; */
  color: #2a3f17;
  font-family: "微软雅黑";
  text-align: center;
  margin: 85px auto 100px auto;
  /* margin-bottom: 70px; */
  /* padding: 10px; */
  /* border-style: solid;
  border-width: 5px;
  border-color: #2a3f17; */
}
.dif-head:hover {
  animation: head 4s;
}
.dif-card {
  display: flex;
  justify-content: space-between;
}
.dif-card div {
  width: 263px;
  height: 415px;
  background-color: #e0dfdf;
  transition: transform 1s;
}
.card1:hover {
  transform: translateY(-50px);
}
.animal {
  height: 90px;
  color: #2a3f17;
  font-size: 30px;
  text-align: center;
  line-height: 90px;
}
.story {
  font-size: 22px;
  color: #2a3f17;
  text-align: center;
  text-decoration: underline;
}
.dif-know {
  /* height: 270px; */
  padding-top: 115px;
  padding-bottom: 85px;
}
.dif-know1 {
  width: 360px;
  height: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 30px;
  color: #2a3f17;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: #2a3f17;
  transition: color 1s, background-color 1s;
}
.dif-know1:hover {
  color: #fff;
  background-color: #2a3f17;
}
.songshu {
  width: 1440px;
  height: 1020px;
  box-sizing: border-box;
  margin: 0 auto;
}
.songshu-img {
  float: left;
  transform: scale(0.9, 0.9);
  transform-origin: 600px 500px;
}
.songhshu-set {
  float: right;

  width: 718px;
  box-sizing: border-box;
  padding: 85px 50px 85px 130px;
  color: #2a3f17;
}
.shongshu-set-top {
  font-size: 40px;
  padding-bottom: 45px;
  transition: transform 1s;
}
.shongshu-set-top:hover {
  transform: translateY(-50px);
}
.songshu-set-con {
  font-size: 24px;
  padding-bottom: 80px;
  transition: transform 1s;
  transform-origin: 0px 0px;
}
.songshu-set-con:hover {
  transform: scale(1.2);
  transform-origin: 0px 0px;
}
.songhsu-set-num {
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one {
  transition: transform 1.3s;
}
.one:hover {
  transform: translateX(80px);
}
.one p {
  font-size: 24px;
  vertical-align: middle;
  padding-left: 30px;
  display: inline-block;
}
.one img {
  vertical-align: middle;
}
.en {
  width: 100%;
  height: 460px;
}
.end {
  width: 1500px;
  height: 650px;
  box-sizing: border-box;
  padding: 170px 0px 170px 250px;
  /* display: flex; */
  border-top-width: 2px;
  border-top-color: black;
  border-top-style: solid;
  margin: 150px auto 0px auto;
}
.end-big {
  width: 360px;
  height: 75px;
  background-color: #949f8b;
  color: #fff;
  line-height: 74px;
  font-size: 36px;
  font-family: "微软雅黑";
  border: none;
  display: inline-block;
  transition: transform 1s, color 1s, background-color 1s;
}
.end-big:hover {
  transform: translateY(-50px);
  color: #949f8b;
  background-color: #fff;
}
.end-one {
  width: 250px;
  height: 130px;
  font-size: 40px;
  display: flex;
  color: #2a3f17;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
}
.end-two {
  width: 170px;
  height: 130px;
  display: flex;
  color: #2a3f17;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 315px;
  font-size: 24px;
  display: inline-block;
}
.end-two .end-two-m {
  font-size: 30px;
}
@keyframes head {
  0% {
    border-width: 0px;
  }
  25% {
    border-top: #2a3f17 5px solid;
  }
  50% {
    border-right: #2a3f17 5px solid;
  }
  75% {
    border-bottom: #2a3f17 5px solid;
  }
  100% {
    border-left: #2a3f17 5px solid;
  }
}

