* {
    margin: 0;
    padding: 0;
}
.yi{
    position: relative;
    width: 1399px;
    height: 3960px;
    margin: 0 auto;
}
.er{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;
}
.erone{
    position: absolute;
    top: 17px;
    left: 17px;
    transition: all .3s;
}
.erone:hover{
    transform: scale(.7);
}
.ertwo{
    position: absolute;
    top: 5px;
    left: 1369px;
    top: 17px;
    left: 1370px;
}
.san{
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left:-100px;
    width: 200px;
    height: 200px;
    background-color: #81c04b;
}
.si{
    width: 150px;
    height: 150px;
    border:5px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
.si img{
    position: absolute;
    top: 57px;
    left: 42px;
}
.wu{
    width: 100%;
    height: 800px;
}
.wu img{
    width: 100%;
    height: 100%;
}
.liu{
    position: absolute;
    top: 283px;
    left: 450px;
    font-size: 45px;
    color: #2a3f17;
}

.qi{
    position: absolute;
    top: 364px;
    left: 319px;
    width: 797px;
    height: 105px;
    font-size: 22px;
    color: #2a3f17;
}
.ba{
    position: absolute;
    top: 533px;
    left: 216px;
    width: 220px;
    height: 70px;
    background-color: #2a3f17;
    font-size: 35px;
    padding-top: 18px;
    padding-left: 60px;
    color: #e0e2de;
}
.jiu{
    position: absolute;
    top: 730px;
    left: 160px;
    width: 250px;
    height: 500px;
    transition: all .3s;
}
.jiu:hover{
    transform: translate(0, -30px);
}
.jiuyi{
    position: absolute;
    top: 343px;
    left: 206px;
    font-size: 50px;
    color: white;
}
.shi {
    position: absolute;
    top: 730px;
    left: 530px;
    width: 250px;
    height: 500px;
    transition: all .3s;
}
.shi:hover{
    transform: translate(0, -30px);
}
.shishi{
    position: absolute;
    top: 356px;
    left: 169px;
    font-size: 45px;
    color: white;
}
.shiyi {
    position: absolute;
    top: 730px;
    left: 900px;
    width: 250px;
    height: 500px;
    transition: all .3s;
}
.shiyi:hover{
    transform: translate(0, -30px);
}
.shiyiyi{
    position: absolute;
    top: 356px;
    left: 147px;
    font-size: 45px;
    color: white;
}
.shier{
    width: 100%;
    height: 600px;
    background-color: white;
}
.shisan{
    position: absolute;
    top: 1360px;
    left: 240px;
    width: 940px;
    height: 540px;
    background-color: #e0dfdf;
}
.shisan p{
    padding-top: 80px;
    padding-left: 110px;
    padding-right: 110px;
    color: #2a3f17;
    font-size: 17px;
}
.shisi{
    position: absolute;
    top: 1750px;
    left: 580px;
    width: 200px;
    height: 70px;
    background-color: #2a3f17;
    transition: all .3s;
}
.shisi:hover{
    transform: scale(.9);
}
.shisi p{
    position: absolute;
    top: 16px;
    left: 41px;
    font-size: 30px;
    color: white;
}
.shiwu{
    width: 100%;
    height: 760px;
}
.shiwu img {
    width: 100%;
    height: 100%;
}
.shiliu{
    position: relative;
    width: 100%;
    height: 1370px;
    background-color: white;
}
.shiqi{
    position: absolute;
    top: 58px;
    left: 590px;
    width: 200px;
    height: 53px;
    color: #2a3f17;
    font-size: 40px;
}
.shiqione {
    position: relative;
    width: 200px;
    height: 53px;
}

.shiqione:before,
.shiqione:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    box-sizing: border-box;
    position: absolute;
}

.shiqione:before {
    top: 0;
    left: 0;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
}

.shiqione:after {
    right: 0;
    bottom: 0;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
}

.shiqione:hover:before {
    width: 100%;
    height: 100%;
    transition: width 0.2s ease-in, height 0.2s ease-in 0.2s;
    border-top-color: #2a3f17;
    border-right-color: #2a3f17;
}

.shiqione:hover:after {
    width: 100%;
    height: 100%;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.4s, height 0.3s ease-in 0.6s;
    border-bottom-color: #2a3f17;
    border-left-color: #2a3f17;
}
.shiba{
    position: absolute;
    top: 130px;
    left: 235px;
    width: 200px;
    height: 330px;
    background-color: #e0dfdf;
    transition: all .3s;
}
.shiba:hover{
    transform: translate(0, -30px);
}
.shibaone{
    width: 200px;
    height: 200px;
    background-color: violet;
}
.shibaone img {
    width: 100%;
    height: 100%;
}
.shibatwo{
    position: absolute;
    top: 213px;
    left: 63px;
    color: #2a3f17;
    font-size: 25px;;
}
.shibathree{
    position: absolute;
    top: 266px;
    left: 14px;
    color: #2a3f17;
    font-size: 20px;
    border-bottom: 2px solid #2a3f17;
}
.shijiu {
    position: absolute;
    top: 130px;
    left: 470px;
    width: 200px;
    height: 330px;
    background-color: #e0dfdf;
    transition: all .3s;
}
.shijiu:hover {
    transform: translate(0, -30px);
}
.shijiuone {
    width: 200px;
    height: 200px;
    background-color: violet;
}
.shijiuone img {
    width: 100%;
    height: 100%;
}
.shijiutwo {
    position: absolute;
    top: 213px;
    left: 41px;
    color: #2a3f17;
    font-size: 25px;
    ;
}

.shijiuthree {
    position: absolute;
    top: 266px;
    left: 14px;
    color: #2a3f17;
    font-size: 20px;
    border-bottom: 2px solid #2a3f17;
}
.ershi {
    position: absolute;
    top: 130px;
    left: 705px;
    width: 200px;
    height: 330px;
    background-color: #e0dfdf;
    transition: all .3s;
}
.ershi:hover {
    transform: translate(0, -30px);
}
.ershione {
    width: 200px;
    height: 200px;
    background-color: violet;
}
.ershione img {
    width: 100%;
    height: 100%;
}
.ershitwo {
    position: absolute;
    top: 213px;
    left: 71px;
    color: #2a3f17;
    font-size: 25px;
    ;
}

.ershithree {
    position: absolute;
    top: 266px;
    left: 14px;
    color: #2a3f17;
    font-size: 20px;
    border-bottom: 2px solid #2a3f17;
}
.ershiyi {
    position: absolute;
    top: 130px;
    left: 940px;
    width: 200px;
    height: 330px;
    background-color: #e0dfdf;
    transition: all .3s;
}
.ershiyione {
    width: 200px;
    height: 200px;
    background-color: violet;
}
.ershiyi:hover {
    transform: translate(0, -30px);
}
.ershiyione img {
    width: 100%;
    height: 100%;
}
.ershiyitwo {
    position: absolute;
    top: 213px;
    left: 15px;
    color: #2a3f17;
    font-size: 25px;
    ;
}

.ershiyithree {
    position: absolute;
    top: 266px;
    left: 14px;
    color: #2a3f17;
    font-size: 20px;
    border-bottom: 2px solid #2a3f17;
}
.ershier{
    position: absolute;
    top: 516px;
    left: 560px;
    width: 195px;
    height: 40px;
    border: 2px solid #2a3f17;
    padding-left: 55px;
    padding-top: 12px;
    font-size: 25px;
    color: #2a3f17;
    transition: all .3s;
}
.ershier:hover{
    background-color: #2a3f17;
    color: white;
}
.ershisan{
    position: absolute;
    top: 631px;
    left: 171px;;
    width: 500px;
    height: 700px;
    background-color: red;
}
.ershisan img {
    width: 100%;
    height: 100%;
}
.ershisi{
    position: absolute;
    top: 680px;
    left: 780px;
    color: #2a3f17;
    font-size: 25px;
    transition: all .3s;
}
.ershisi:hover{
    transform: translate(0, -20px);
}
.ershiwu{
    position: absolute;
    top: 720px;
    left: 783px;
    width: 340px;
    height: 100px;
    color: #2a3f17;
    font-size: 17px;
    transition: all .3s;
}
.ershiwu:hover{
    /* transform: translateX(20px);
    transform: scale(1.2, 1.2); */
    transform: matrix(1.3,0,0,1.3,40,20);
}
.ershiliu{
    position: absolute;
    top: 875px;
    left: 783px;
    width: 300px;
    height: 74px;
    transition: all .8s;
}
.ershiliu:hover{
    transform: translateX(100px);
}
.ershiliuone{
    width: 52px;
    height: 70px;
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid #2a3f17;
    padding-left: 18px;
    color: #2a3f17;
}
.ershiliu p{
    position: absolute;
    top: 39px;
    left: 90px;
    font-size: 20px;
    color: #2a3f17;
}
.ershiqi {
    position: absolute;
    top: 985px;
    left: 783px;
    width: 300px;
    height: 74px;
    transition: all .8s;
}
.ershiqi:hover {
    transform: translateX(100px);
}
.ershiqione {
    width: 52px;
    height: 70px;
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid #2a3f17;
    padding-left: 18px;
    color: #2a3f17;
}
.ershiqi p {
    position: absolute;
    top: 39px;
    left: 90px;
    font-size: 20px;
    color: #2a3f17;
}
.ershiba {
    position: absolute;
    top: 1105px;
    left: 783px;
    width: 300px;
    height: 74px;
    transition: all .8s;
}
.ershiba:hover {
    transform: translateX(100px);
}

.ershibaone {
    width: 52px;
    height: 70px;
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid #2a3f17;
    padding-left: 18px;
    color: #2a3f17;
}
.ershiba p {
    position: absolute;
    top: 39px;
    left: 90px;
    font-size: 20px;
    color: #2a3f17;
}
.ershijiu {
    position: absolute;
    top: 1225px;
    left: 783px;
    width: 300px;
    height: 74px;
    transition: all .8s;
}
.ershijiu:hover {
    transform: translateX(100px);
}
.ershijiuone {
    width: 52px;
    height: 70px;
    font-size: 50px;
    border-radius: 50%;
    border: 2px solid #2a3f17;
    padding-left: 18px;
    color: #2a3f17;
}
.ershijiu p {
    position: absolute;
    top: 39px;
    left: 90px;
    font-size: 20px;
    color: #2a3f17;
}
.sanshi{
    position: relative;
    width: 100%;
    height: 380px;
    background-color: white;
}
.sanshiyi{
    position: absolute;
    top: 120px;
    left: 300px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    color: #2a3f17;
}
.sanshier {
    position: absolute;
    top: 197px;
    left: 300px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    color: #2a3f17;
}
.sanshisan {
    position: absolute;
    top: 126px;
    left: 517px;
    width: 200px;
    height: 100px;
    font-size: 26px;
    color: #697461;
}
.sanshisi {
    position: absolute;
    top: 180px;
    left: 517px;
    width: 200px;
    height: 100px;
    font-size: 20px;
    color: #697461;
}
.sanshiwu {
    position: absolute;
    top: 150px;
    left: 850px;
    width: 211px;
    height: 54px;
    background-color: #949f8b;
    font-size: 30px;
    color: white;
    padding-left: 70px;
    padding-top: 10px;
    transition: all .8s;
}
.sanshiwu:hover{
    transform: translateY(-50px);
    background-color: white;
    color: #949f8b;
}

