* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.main a {
    text-decoration: none;
}

.all {
    position: relative;
    margin: auto;
    width: 1920px;
    height: 4674px;
}

@keyframes move {

    0% {
        width: 0;
    }

    50% {
        width: 480px;
        font-size: 43px;
    }

    100% {
        width: 0;
    }
    
}

@keyframes movebg {

    0% {
        width: 0;
    }

    50% {
        width: 480px;
    }

    100% {
        width: 0;
    }
    
}

.jjj {
    position: absolute;
    top: 60px;
    left: 0;
    width: 0px;
    height: 100px;
    background-color: greenyellow;
    animation-name: movebg;
    animation-delay: 0s;
    animation-duration: 12s;
}

.jj{
    width: 480px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 0px;
    font-family: 楷体;
    color: #f0691b;
    animation: move;
    animation-duration: 8s;
    animation-delay: 2s;
    overflow: hidden;
}



.bg {
    float: left;
    width: 1920px;
    height: 929px;
}

.cap {
    width: 1920px;
    height: 49px;
    background-color: white;
}

.cap .icon-caidan_o {
    float: left;
    width: 74px;
    height: 49px;
    color:black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 49px;
}

.cap .icon-caidan_o:hover {
    transform: scale(0.88);
    cursor: pointer;
}

.cap .icon-sousuo {
    float: left;
    width: 74px;
    height: 49px;
    color:black;
    transform: translateX(1772px);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 49px;
}

.cap .icon-sousuo:hover {
    font-size: 22px;
    cursor: pointer;
}

.wg {
    float: left;
    width: 1920px;
    height: 881px;
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/乌龟.png);
}

.main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 1407px;
    height: 4674px;
    perspective: 500px;
}

.xjw {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #81c04b;
    border-top:0.1px solid white;
    transition: all 1s;
}

.xjw:hover {
    transform: scale(0.8);
}

.xjn {
    width: 170px;
    height: 170px;
    margin:12px auto 16px;
    border-radius: 50%;
    border:5px solid white;
}

.xjn .icon-camera-full {
    font-size: 120px;
    text-align: center;
    line-height: 170px; 
    color:white;
}

.words {
    height: 183px;
    transform: translateY(80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2a3f17;
}

.wordst {
    height: 65px;
    font-size: 50px;
    font-family: Cambria;
}

.wordsb {
    width: 1099px;
    height: 115px;
    font-size: 30px;
    font-family: 微软雅黑;
}

.words2 {
    width: 264px;
    height: 71px;
    transform: translateY(215px);
    margin-left: 162px;
    text-align: center;
    line-height: 71px;
    font-size: 30px;
    font-family: 微软雅黑;
    color:white;
    background-color: #2a3f17;
}

.main .words2:hover {
    cursor: pointer;
    color: greenyellow;
    font-size: 35px;
    background: none;
}

.second {
    width: 1407px;
    height: 1360px;
    transform: translateY(475px);
    perspective: 500px;
}

.niao {
    width: 1407px;
    height: 498px;
    transform: translateY(-146px);
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    perspective: 500px;
}

.n1,.n2,.n3 {
    width: 331px;
    height: 498px;
    transition: all 1s;
}

.n1 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/火烈鸟1.png);
}

.n1 .n1w {
    width: 60px;
    height: 48px;
    margin-left:200px;
    margin-top: 340px;
    font-family: Cambria;
    font-size: 48px;
    color: white;
} 

.n2 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/火烈鸟2.png);
    margin:0 -251px;
}

.n2 .n2w {
    width: 108px;
    height: 45px;
    margin-left: 170px;
    margin-top: 340px;
    font-family: Cambria;
    font-size: 48px;
    color: white;
}

.n3 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/火烈鸟3.png);
}
.n3 .n3w {
    width: 120px;
    height: 45px;
    margin-left: 150px;
    margin-top: 340px;
    font-family: Cambria;
    font-size: 48px;
    color: white;
}

.n1:hover,.n2:hover,.n3:hover {
    transform: translateY(-45px);
}

.available {
    width: 1407px;
    height: 246px;
    transform: translateY(-146px);
    background-color: white;
}

.lu {
    float: left;
    width: 1920px;
    height: 761px;
    margin-top: 600px;
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/鹿.png);
}

.tp {
    width: 948px;
    height: 541px;
    margin: auto;
    transform: translateY(-228px);
    background-color: #e0dfdf;
    border: 0.1px solid white;
    perspective: 500px;
    transition: all 1s;
}

.tp:hover {
    transform: translateY(-300px);
}

.tp .wos {
    margin: auto;
    margin-top: 80px;
    width: 795px;
    height: 232px;
    font-size: 20px;
    font-family: 微软雅黑;
    color:black;
}

.tp .wos2 {
    width: 198px;
    height: 72px;
    background-color: #2a3f17;
    font-size: 30px;
    font-family: 微软雅黑;
    color: white;
    text-align: center;
    line-height: 72px;
    margin-top: 104px;
    margin-left: 375px;
    transition: all 1s;
}

.tp .wos2:hover{
    transform: scale(0.8);
    cursor: pointer;
}

.third {
    position: relative;
    width: 1407px;
    height: 1860px;
    transform: translateY(475px);
    perspective: 500px;
}

.third .t1 .t111 {
    position: relative;
    width: 230px;
    height: 40px;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 40px;
    color:#2a3f17;
    /* border: 5px solid #2a3f17; */
}

.t1 .t111::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 4px solid #2a3f17;
    border-right: 4px solid #2a3f17;
    opacity: 0;
}

.t1 .t111::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 0;
    border-bottom: 4px solid #2a3f17;
    border-left: 4px solid #2a3f17;
    opacity: 0;
}

.t1 .t111:hover::before {
    width: 100%;
    height: 100%;
    transition: width 1s linear, height 1s linear 1s;
    opacity: 1;
}

.t1 .t111:hover::after {
    width: 100%;
    height: 100%;
    transition: width 1s linear 2s, height 1s linear 3s,
    opacity 1s linear 2s;
    opacity: 1;
}

.third .t2 {
    width: 1407px;
    height: 416px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    perspective: 500px;
}

.t2 .t21,.t2 .t22,.t2 .t23,.t2 .t24 {
    width: 262px;
    height: 416px;
    background-color: #e0dfdf;
}

.t21 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/马.png);
    background-repeat: no-repeat;
    transition: all 1s;
}

.t22 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/袋鼠.png);
    background-repeat: no-repeat;
    transition: all 1s;
}

.t23 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/狮子.png);
    background-repeat: no-repeat;
    transition: all 1s;
}

.t24 {
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/小鸟.png);
    background-repeat: no-repeat;
    transition: all 1s;
}

.t21:hover,.t22:hover,.t23:hover,.t24:hover {
    transform: translateY(-25px);
}

.tf1 {
    margin: auto;
    width: 190px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateY(290px);
}

.tf1 a {
    font-size: 30px;
}

.t21 .tf1 {
    border-bottom: 2px solid black;
}


.tf2 {
    margin: auto;
    width: 190px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateY(290px);
}

.tf2 a {
    font-size: 30px;
}

.t22 .tf2 {
    border-bottom: 2px solid black;
}

.tf3 {
    margin: auto;
    width: 190px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateY(290px);
}

.tf3 a {
    font-size: 30px;
}

.t23 .tf3 {
    border-bottom: 2px solid black;
}

.tf4 {
    margin: auto;
    width: 190px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    transform: translateY(290px);
}

.tf4 a {
    font-size: 30px;
}

.t24 .tf4 {
    border-bottom: 2px solid black;
}

.av {
    width: 1407px;
    height: 273px;
}

@keyframes bgc {
    0% {
        background: none;
        color:#2a3f17;
    }

    100% {
        background-color: #2a3f17;
        color: white;
    }
    
}

.av1 {
    margin: auto;
    width: 357px;
    height: 69px;
    transform: translateY(130px);
    border: 2px solid #2a3f17;
    color: #2a3f17;
    font-family: 微软雅黑;
    font-size: 30px;
    text-align: center;
    line-height: 69px;
}

.av1:hover {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: bgc 1s  linear 0s 1 normal forwards;
    cursor: pointer;
}

.fna {
    width: 1407px;
    height: 1083px;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

.fna1 {
    width: 704px;
    height: 1083px;
    background: url(https://roninz.oss-cn-beijing.aliyuncs.com/松鼠.png);
    background-repeat: no-repeat;
}

.fna2 {
    height: 1083px;
    width: 703px;
}

.fna2f {
    margin: auto;
    width: 538px;
    height: 884px;
    transform: translateY(90px);
    perspective: 500px;
}

.f1 {
    height: 36px;
    font-size: 32px;
    font-family: 微软雅黑;
    text-indent: 10px;
    transition: all 1s;
}

.f1:hover {
    transform: translateY(-30px);
}

.f2 {
    height: 196px;
    transition: all 1s;
}

.f2:hover {
    transform: scale(1.1);
}

.f2 .f21 {
    margin: auto;
    height: 116px;
    font-size: 23px;
    font-family: 微软雅黑;
    transform: translateY(40px);
}

.f3 {
    position: relative;
    height: 149px;
    transition: all 1s;
}

.f31 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

.f32 {
    position: absolute;
    top: 50%;
    transform: translate(115px, -15px);
    width: 400px;
    height: 70px;
    font-size: 24px;
    font-family: 微软雅黑;
}

.f4 {
    height: 170px;
    position: relative;
    transition: all 1s;
}

.f41 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

.f42 {
    position: absolute;
    top: 50%;
    transform: translate(115px, -15px);
    width: 400px;
    height: 70px;
    font-size: 24px;
    font-family: 微软雅黑;
}

.f5 {
    height: 160px;
    position: relative;
    transition: all 1s;
}

.f51 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

.f52 {
    position: absolute;
    top: 50%;
    transform: translate(115px, -15px);
    width: 400px;
    height: 70px;
    font-size: 24px;
    font-family: 微软雅黑;
}

.f6 {
    height: 178px;
    position: relative;
    transition: all 1s;
}

.f61 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

.f62 {
    position: absolute;
    top: 50%;
    transform: translate(115px, -15px);
    width: 400px;
    height: 70px;
    font-size: 24px;
    font-family: 微软雅黑;
}

.f3:hover,
.f4:hover,
.f5:hover,
.f6:hover {
    transform: translateX(40px);
    cursor: pointer;
}

.finally {
    height: 460px;
    transform: translateY(470px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.final1 {
    height: 460px;
    flex:1;
}

.al1 {
    margin: 190px auto;
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.al11 {
    height: 127px;
    flex: 1;
}

.al12 {
    height: 127px;
    flex: 2;
    font-size: 40px;
    line-height: 70px;
}

.al121 {
    height: 63px;
    transform: translateY(-12px);
}

.al122 {
    height: 64px;
    transform: translateY(10px);
}

.al13 {
    height: 127px;
    flex: 2;
    text-align: center;
    color: #949f8b;
    font-size: 24px;
    text-align: left;
    line-height: 45px;
}

.al13 .special {
    font-size: 30px;
    color: #4d5b41;
}

.final2 {
    height: 460px;
    flex:1;
}

.al2 {
    margin: 190px auto;
    width: 100%;
    height: 127px;
    border-top: 0.01px solid white;
    perspective: 500px;
}

.alw2 {
    margin: 22px 73px 32px 268px;
    width: 363px;
    height: 75px;
    background-color: #949f8b;
    font-size: 36px;
    font-family: 微软雅黑;
    text-align: center;
    line-height: 75px;
    color: white;
    transition: all 1s;
}

.alw2:hover {
    color: #949f8b;
    transform: translateY(-45px);
    background: none;
    cursor: pointer;
}

.abord {
    background-color: black;
    height: 5px;
    width: 1920px;
    transform: translateY(4215px);
}