@font-face {
  font-family: "iconfont"; /* Project id 3832350 */
  src: url('iconfont.woff2?t=1671440212077') format('woff2'),
       url('iconfont.woff?t=1671440212077') format('woff'),
       url('iconfont.ttf?t=1671440212077') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e790";
  font-size: 40px;
}

.icon-sousu:before {
  content: "\e627";
  font-size: 36px;
}

