@font-face {
  font-family: "iconfont"; /* Project id 3792744 */
  src: url('iconfont.woff2?t=1671587838738') format('woff2'),
       url('iconfont.woff?t=1671587838738') format('woff'),
       url('iconfont.ttf?t=1671587838738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e600";
  font-size: 25px;
}

.icon-sousuoxiao:before {
  content: "\e8d6";
  font-size: 25px;
  float: right;
}

.icon-zhaoxiangji:before {
  content: "\e663";
  font-size: 200px;
  color: white;
  opacity: 0.8;
}


