* {
    margin: 0px;
    padding-left: 0px;
}
.w {
    margin: 100px 100px;
}
.email {
    display: inline-block;
}
button {
    display: block;
}
.denglu {
    display: none;
}
.denglu img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.span {
    color: #ccc;
}
