* {
    padding: 0;
    margin: 0;
}
.main_area {
    width: 1200px;
    margin: auto;
}
.top {
    position: relative;
    width: 100%;
    height: 929px;
    background: url(https://meijiaqin.oss-cn-beijing.aliyuncs.com/%E4%B9%8C%E9%BE%9F.png) no-repeat;
    background-position: 50% 50%;
} 
.search {
    position: absolute;
    width: 100%;
    height: 49px;
    background-color: #fff;
}
.left { 
    position: absolute;
    left: 26px;
    top: 10px;
}
.left:hover {
    transform: scale(0.5,0.5);
}
.right {
    position: absolute;
    right: 26px;
    top: 10px;
}
.right:hover {
    transform: scale(0.5,0.5);
}
.video {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #81c04b;
    top: 0;
    left: 46%;
    transform: translate(-50%);
    transform-origin: center;
    transform: scale(0.9,0.9);
    transition: all 0.5s;
}
.video:hover {
    transform: scale(0.8,0.8);
   
}
.text_one {
    position: absolute;
    top: 287px;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
    color:#2a3f17 ;
}
.text_two {
    position: absolute;
    top: 380px; ;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    line-height: 30px;
}
.text_three {
    position: absolute;
    top:610px;
    left:50%;
    transform: translateX(-203%);
    text-align: center;
    line-height: 72px;
    font-size: 30px;
    background-color: #2a3f17;
    color: #ffffff;
    width: 262px;
    height: 72px;
}
.second_bac {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #f8f8f8;
}
.second_one {
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: 500px;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: powderblue; */
}
.img1 {
    width: 300px;
    transition: all 0.5s;
}
.img1:hover {
    transform: translate(0, -50px);  
}
.img2 {
    width: 300px;
    transition: all 0.5s;
}
.img2:hover {
    transform: translate(0,-50px);
}
.img3 {
    width: 300px;
    transition: all 0.5s;
}
.img3:hover {
    transform: translate(0,-50px);
}
.three_bac {
    position: relative;
    width: 100%;
    height: 760px;
    background-image: url(https://meijiaqin.oss-cn-beijing.aliyuncs.com/%E9%B9%BF.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.three_content {
    position: absolute;
    top: -100px;
    left:50%;
    transform: translateX(-50%);
    width: 946px;
    height: 541px;
    background-color: #e0dfdf;
    transition:all 0.5s;
}
.three_content:hover {
    transform: translate(-50%,-100px);
}
.three_content_one {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 800px;
    height: 223px;
    transform: translateX(-50%);    
}
.three_text {
    font-size: 20px;
    line-height: 30px;
}
.three_content_two {
    position: absolute;
    top: 420px;
    left: 41%;
    transform: translateX(-50%);
    width: 195px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    background-color: #2a3f17;
    color: #ffffff;
    transition: all 0.5s;
    transform: scale(0.9,0.9);
} 
.three_content_two:hover {
    transform: scale(0.5,0.5);    
}
/* 1940 */
.four_bac {
    position: relative;
    width: 100%;
    height: 1940px;
    background-color: #f8f8f8;
}
.four_one {
    z-index: 1;
    overflow: hidden;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    font-size: 60px;
    text-align: center;
    line-height: 102px;
    width: 315px;
    height: 102px;
    color: #2a3f17;
    /* background-color: powderblue; */
}
.four_one:hover:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    background-color: #2a3f17;
    z-index: -2;
    animation: Rotate 1s linear infinite;
    transform-origin: 0 0;
}
.four_one:hover::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    background: #f8f8f8;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 10px;
    z-index: -1;
}
@keyframes Rotate {
     to {
         transform: rotate(1turn);
     }
}
.four_two {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translateX(-50%);
    background-color: #f8f8f8; 
    width: 1200px;
    height: 414px;   
}
.img4,
.img5,
.img6,
.img7 {
    transition: all 0.5s;
}
.img4:hover {
    transform: translate(0,-50px);
}
.img5:hover {
    transform: translate(0, -50px);
}
.img6:hover {
    transform: translate(0, -50px);
}
.img7:hover {
    transform: translate(0, -50px);
}
.four_three {
    position: absolute;
    top: 740px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: #2a3f17;
    width: 360px;
    height: 70px;
    border: 2px solid #2a3f17;
    background-color: #f8f8f8;
    transition: all 0.5s;
}
.four_three:hover {
    background-color: #2a3f17;
    color: #ffffff;
}
.four_four {
    position: absolute;
    top: 895px;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 1020px;
    background-color: #f8f8f8;
}
.four_four_one {
    float: left;
}
.four_four_two {
    right: 0;
    width: 550px;
    height: 100%;
    position: absolute;
    background-color: #f8f8f8;
}
.text_1 {
    position: absolute;
    font-size: 36px;
    top: 90px;
    left: 50%;
    transform: translateX(-155%);
    transition: all 0.5s;
}
.text_1:hover {
    transform: translate(-155%,-50px);
}
.text_2 {
    position:absolute;
    font-size: 12px;
    top: 210px;
    left: 24%;
    transform: translateX(-74%);
    transform: scale(2,2);
    transition: all 0.5s;
}
.text_2:hover {
    transform: scale(2.5,2.5);
}
.text_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 400px;
    top: 385px;
    left: 50%;
    transform: translateX(-275px);
    height: 595px;
    background-color: #f8f8f8;
}
.img8,
.img9,
.img10,
.img11 {
    transition: all 0.5s;
}
.img8:hover {
    transform: translate(50px,0);
}
.img9:hover {
    transform: translate(50px,0);
}
.img10:hover {
    transform: translate(50px, 0);
}
.img11:hover {
    transform: translate(50px, 0);
}
.five {
    position: relative;
    width: 100%;
    height: 392px;
    background-color: #f8f8f8;
}
.img12 {
    width: 100%;
}
.five_second {
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 70px;
    transform:translate(60%,-50%);
    width: 360px;
    height: 70px;
    background-color: #949f8b;
    color: #ffffff;
    transition: all 0.5s;
}
.five_second:hover {
    background-color: #ffffff;
    transform: translate(50%,-50px);
}
