@font-face {
  font-family: "iconfont"; /* Project id 2232321 */
  src: url('iconfont.woff2?t=1638287375458') format('woff2'),
       url('iconfont.woff?t=1638287375458') format('woff'),
       url('iconfont.ttf?t=1638287375458') format('truetype'),
       url('iconfont.svg?t=1638287375458#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshang:before {
  content: "\e65e";
}

.iconxia:before {
  content: "\e65f";
}
