@font-face {
  font-family: "iconfont"; /* Project id 3826673 */
  src: url('iconfont.woff2?t=1671020252452') format('woff2'),
       url('iconfont.woff?t=1671020252452') format('woff'),
       url('iconfont.ttf?t=1671020252452') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e633";
}

.icon-zhaoxiangji:before {
  content: "\e60b";
}

.icon-gengduo:before {
  content: "\e600";
}

