* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.all {
    position: relative;
    width: 1920px;
    height: 4674px;
    margin: auto;
}
.top {
    position: relative;
    width: 1920px;
    height: 49px;
}
.top-pic1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    left: 22px;
    transition: all 1s;
    transform-origin: 10px -30px;
}
.top-pic2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    transition: all 1s;
    transform-origin: -300px 100px;
}
.top-pic1:hover,
.top-pic2:hover {
    transform: scale(0.75);
}
.icon-fangdajing {
    position: absolute;
    right: 22px;
    font-size: 100px;
    line-height: 49px;
}
.center1 {
    width: 1920px;
    height: 1479px;
}
.wugui {
    width: 1920px;
    height: 880px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/wugui.png);
    font-size: 30px;
    color: #2a3f17;
}
.wugui .title {
    font-size: 72px;
    text-align: center;
}
.wugui .word{
    position: absolute;
    top: 289px;
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
}
.smallbox {
    position: absolute;
    top: 605px;
    left: 416px;
    width: 262px;
    height: 72px;
    background-color: #2a3f17;
    color: white;
    font-size: 30PX;
    line-height: 72PX;
    text-align: center;
}
.bird {
    position: relative;
    width: 1920px;
    height: 599px;
    color: white;
    font-size: 48px;
}
.bird1,
.bird2,
.bird3 {
    position: absolute;
    top: -147px;
    width: 333px;
    height: 500px;
}
.bird1,
.bird2,
.bird3  {
    transition: all 1s;
} 
.bird1 {
    left: 404px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/huo1.png);
}
.bird2 {
    left: 794px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/huo2.png);
}
.bird3 {
    left: 1182px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/huo3.png);
}
.bird1 p,
.bird2 p,
.bird3 p {
    position: absolute;
    right: 60px;
    bottom: 90px;
    
}
.bird1:hover,
.bird2:hover,
.bird3:hover {
    transform: translateY(-50px);
}
.center2 {
    position: relative;
    width: 1920px;
    height: 760px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/lu.png);
}
.greybox {
    position: absolute;
    left: 50%;
    top: -85px; 
    transform: translateX(-50%);
    width: 947px;
    height: 542px;
    background-color: #e0dfdf;
    transition: all 1s;
    transform-origin: 1000px 900px;
}
.greybox p {
    transform: translate(70px,65px);
    font-size: 20px; 
}
.sword {
    position: absolute;
    left: 50%;
    bottom: 64px;
    transform: translateX(-50%);
    width: 199px;
    height: 70px;
    color: white;
    font-size: 30px;
    background-color: #2a3f17;
    line-height: 70px;
    text-align: center;
    transition: all 0.5s;
    transform-origin: -400px 10px;
}
.sword:hover {
    transform: scale(0.8);
}
.greybox:hover {
    transform: translate(-470px,-65px);
} 
.center3 {
    position: relative;
    width: 1920px;
    height: 690px;
}
.stitle {
    position: absolute;
    left: 50%;
    top: 77px;
    transform: translateX(-50%);
    width: 247px;
    height: 53px;
    line-height: 53px;
    color: #2a3f17;
    font-size: 48px;
    transition: all 1s;
}
@keyframes kuang {
    25% {
        border-top: solid 5px black;
    }
    50% {
        border-top: solid 5px black;
        border-right: solid 5px black;
    }
    75% {
        border-top: solid 5px black;
        border-right: solid 5px black;
        border-bottom: solid 5px black;
    }
    100% {
        border-top: solid 5px black;
        border-right: solid 5px black;
        border-bottom: solid 5px black;
        border-left: solid 5px black;
    }
}
.stitle:hover {
    animation: kuang 3s linear;
}
.horse,
.kangaroo,
.lion,
.hummingbird {
    position: absolute;
    top: 159px;
    width: 267px;
    height: 416px;
    background-color: #e0dfdf;
    text-align: center;
    transition: all 0.5s;
}
.horse {
    left: 398px;
}
.kangaroo {
    left: 695px;
}
.lion {
    left: 987px;
}
.hummingbird {
    left: 1281px;
}
.horse:hover,
.kangaroo:hover,
.lion:hover,
.hummingbird:hover {
    transform: translateY(-30px);
} 
.horse p,
.kangaroo p,
.lion p,
.hummingbird p {
    transform: translateY(30px);
    font-size: 30px;
}
.center3 .story {
    font-size: 22px;
    TEXT-DECORATION: Underline;
    transform: translateY(50px);
}
.center4 {
    position: relative;
    width: 1920px;
    height: 1238px;
}
.know {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 70px;
    border: solid 2px #2a3f17;
    font-size: 30px;
    color: #2a3f17;
    line-height: 70px;
    text-align: center;
    transition: all 1s;
}
.know:hover {
    color: white;
    background-color: #2a3f17;
}
.songshu {
    position: absolute;
    top: 157px;
    left: 256px;
    width: 703px;
    height: 1021px;
}
.jword {
    position: absolute;
    left: 1077px;
    top: 241px;
    width: 557px;
    height: 938px;
    color: #2a3f17;
    
}
.photo {
    font-size: 36px;
    transition: all 1s;
}
.photo:hover {
    transform: translateY(-20px);
}
.duan {
    transform: translateY(36px);
    font-size: 24px;
    transition: all 1s;
    transform-origin: left top;
}
.duan:hover {
    transform: scale(1.2);
}
ul {
    transform: translateY(108px);
    font-size: 24px;
}
.two {
    transform: translateY(132px);
}
.three {
    transform: translateY(288px);
}
.four {
    transform: translateY(460px);
}
.one,
.two,
.three,
.four {
    transition: all 2s;
}
.one:hover {
    transform: translateX(100px);
}
.two:hover {
    transform: translate(100px,132px);
}
.three:hover {
    transform: translate(100px, 288px);
}
.four:hover {
    transform: translate(100px, 460px);
}
.end {
    position: relative;
    width: 1920;
    height: 461px;
    background-image: url(https://zhang0228.oss-cn-wulanchabu.aliyuncs.com/jvxing.png);
}
.oone {
    width: 250px;
    height: 125px;
    font-size: 40px;
    transform: translate(445px,157px);
}
.ttwo {
    width: 170px;
    height: 120px;
    font-size: 30px;
    transform: translate(750px, 40px);
}
.ttwo .special {
    font-size: 24px;
    color: #697461;
}
.tthree {
    position: absolute;
    bottom: 194px;
    right: 330px;
    width: 362px;
    height: 74px;
    line-height: 74px;
    text-align: center; 
    color: white;
    font-size: 36px;
    background-color: #949f8b;
    transition: all 1s;
}
.tthree:hover {
    color: #949f8b;
    background-color: white;
    transform: translateY(-50px);
}