.Content {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.head {
    height: 50px;
    background-color: #ffffff;
    display: flex;
}

.gang {
    height: 15px;
    width: 22px;
    display: flex;
    flex-direction: column;
    top: 26px;
    left: 26px;
    justify-content: space-between;
    transition: height 1s, width 1s;
    position: absolute;
}

.gang:hover {
    height: 12px;
    width: 18px;
}

.gang_0 {
    height: 2px;
    background-color: black;
}

.photo {
    height: 200px;
    width: 200px;
    transition: width 1s,height 1s;
    margin: 0 auto;
}

#photo {
    height: 200px;
    width: 200px;
    transition: width 1s, height 1s;
}

#photo:hover {
    height: 175px;
    width: 175px;
}

#question {
    height: 16px;
    width: 16px;
    top: 26px;
    right: 25px;
    position: absolute;
    transition: width 1s, height 1s;
}

#question:hover {
    height: 12px;
    width: 12px;
}

.title {
    background-image: url(https://doitasican.oss-cn-beijing.aliyuncs.com/%E4%B9%8C%E9%BE%9F.png?Expires=1671703020&OSSAccessKeyId=TMP.3KjYmVzgyzhbgYZBZiuxgrPnm4VwoGp3p6TjhDLAhTMcrqGpcKTdeq23q6yyz5LpPBWxtrNnx6sZKGvyAZ8DTv71V81zur&Signature=yW3%2BxIi2Ha0fl5SwekVNHJVcwXI%3D); 
    height: 920px;
    overflow: hidden;
}

.big_tit {
    font-family: Cambria;
    font-size: 72px;
    margin: 235px auto;
    text-align: center;
    color: #2f3f1c;
}

.sma_tit {
    font-family:"Microsoft YaHei";
    font-size: 30px;
    top: 450px;
    color: #2f3f1c;
    width:1111px ;
    position: absolute;
}

.expiore {
    height: 55px;
    width: 260px;
    font-size: 30px;
    font-family:"Microsoft YaHei";
    top: 650px;
    left: 415px;
    padding-top: 15px;
    text-align: center;
    position: absolute;
    color: white;
    background-color: #2f3f1c;
}

.bird {
    height: 595px;
    display: flex;
    justify-content: space-between;
}

.bird_pho {
    height: 499px;
    width: 333px;
    top: 850px;
    font-size: 48px;
    font-family: Cambria;
    color: white;
    position: absolute;
    transition: top 1s;
}

#first {
    left: 404px;
    background-image: url(https://doitasican.oss-cn-beijing.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F1.png?Expires=1671703308&OSSAccessKeyId=TMP.3KjYmVzgyzhbgYZBZiuxgrPnm4VwoGp3p6TjhDLAhTMcrqGpcKTdeq23q6yyz5LpPBWxtrNnx6sZKGvyAZ8DTv71V81zur&Signature=ftIvx2ItSKiSnJE3Co7O8YiZZ%2Fg%3D);
}

#second {
    left: 793px;
    background-image: url(https://doitasican.oss-cn-beijing.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F2.png?Expires=1671703334&OSSAccessKeyId=TMP.3KjYmVzgyzhbgYZBZiuxgrPnm4VwoGp3p6TjhDLAhTMcrqGpcKTdeq23q6yyz5LpPBWxtrNnx6sZKGvyAZ8DTv71V81zur&Signature=6FAvia%2BUOxdgyuSsnNKWCWqB05s%3D);
}

#third {
    right: 405px;
    background-image: url(https://doitasican.oss-cn-beijing.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F3.png?Expires=1671703353&OSSAccessKeyId=TMP.3KjYmVzgyzhbgYZBZiuxgrPnm4VwoGp3p6TjhDLAhTMcrqGpcKTdeq23q6yyz5LpPBWxtrNnx6sZKGvyAZ8DTv71V81zur&Signature=vA6rBumRZ0wFyWf%2FdtRexU0SMWk%3D);
}

.bird_pho:hover {
    top: 795px;
}

.introduce {
    height: 760px;
    background-image: url(https://doitasican.oss-cn-beijing.aliyuncs.com/%E9%B9%BF.png?Expires=1671703588&OSSAccessKeyId=TMP.3KjYmVzgyzhbgYZBZiuxgrPnm4VwoGp3p6TjhDLAhTMcrqGpcKTdeq23q6yyz5LpPBWxtrNnx6sZKGvyAZ8DTv71V81zur&Signature=JYJZdKPhqWqHLWRYjMv63Ela%2B4g%3D);
}

.intr_word {
    height: 540px;
    width: 850px;
    top: 1450px;
    left: 475px;
    padding: 79px 65px 61px 79px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    background-color: #dedddd;
    position: absolute;
    transition: top 1s;
}

.intr_word:hover {
    top: 1400px;
}

.sign_up {
    height: 50px;
    width: 200px;
    padding-top: 20px;
    top: 500px;
    left: 370px;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    text-align: center;
    background-color: #2f3f1c;
    color: white;
    position: absolute;
    transition: width 1s, height 1s;
}

.sign_up:hover {
    height: 45px;
    width: 180px;
}

.difference {
    height: 920px;
}

.dif_tit {
    height: 55px;
    width: 250px;
    font-size: 48px;
    font-family: "Microsoft YaHei";
    border: 12px solid white;
    color: #2f3f1c;
    text-align: center;
    transition: border 3s;
    margin: 80px auto;
}

.dif_tit:hover {
    border:12px solid #2f3f1c;
}

.animals {
    height: 535px;
    display: flex;
    justify-content: space-between;
}

.ani_intr {
    height: 415px;
    width: 264px;
    background-color: #dedddd;
    transition: top 1s;
}

.ani_intr:hover {
    top: 45px;
}

.ani_name {
    height: 54px;
    padding-top:20px;
    padding-bottom: 5px;
    color: #2f3f1c;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    text-align: center;

}

.word {
    width: 200px;
    font-size: 21.85px;
    font-family: "Microsoft YaHei";
    color: #2f3f1c;
    text-align: center;
    border-bottom: 2px solid #2f3f1c;
    margin: 0 auto;
}

.button {
    height: 50px;
    width: 355px;
    padding-top: 16px;
    text-align: center;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    color: #2f3f1c;
    border: 2px solid #2f3f1c;
    margin: 0 auto;
    transition: color 1s,background-color 1s;
}

.button:hover{
    color: white;
    background-color: #2f3f1c;
}

.how {
    height: 1080px;
    display: flex;
    justify-content: space-between;
}

.word1 {
    top: 3350px;
    left: 1200px;
    font-size: 36px;
    color: #2f3f1c;
    position: absolute;
    transition: top 1s;
}

.word1:hover{
    top: 3320px;
}

.word2 {
    width: 500px;
    top: 3425px;
    left: 1200px;
    font-size: 24px;
    position: absolute;
    color: #2f3f1c;
    transition: left 1s;
}

.word2:hover{
    left: 1250px;
}

.word01 {
    left: 1200px;
    top: 3600px;
    text-align: center;
    font-size: 24px;
    color: #2f3f1c;
    position: absolute;
    transition: left 1s;
}

.word01:hover {
    left: 1250px;
}

.word02 {
    left: 1200px;
    top: 3750px;
    font-size: 24px;
    color: #2f3f1c;
    position: absolute;
    transition: left 1s;
}

.word02:hover {
    left: 1250px;
}

.word03 {
    left: 1200px;
    top: 3900px;
    font-size: 24px;
    color: #2f3f1c;
    position: absolute;
    transition: left 1s;
}

.word03:hover {
    left: 1250px;
}

.word04 {
    left: 1200px;
    top: 4050px;
    font-size: 24px;
    color: #2f3f1c;
    position: absolute;
    transition: left 1s;
}

.word04:hover {
    left: 1250px;
}

.bottom {
    height: 460px;
    display: flex;
    justify-content:space-between;
}

.end01 {
    top: 4530px;
    color: #2f3f1c;
    font-size: 40px;
    position: absolute;
}

.end02 {
    top: 4590px;
    color: #2f3f1c;
    font-size: 40px;
    position: absolute;
}

.end03 {
    top: 4530px;
    left: 675px;
    color: #4e5941;
    font-size: 30px;
    position: absolute;
}

.end04 {
    top: 4570px;
    left: 675px;
    color: #68715f;
    font-size: 24px;
    position: absolute;
}

.world {
    height: 65px;
    width: 361px;
    top: 4550px;
    right: 330px;
    font-size: 36px;
    padding-top: 5px;
    text-align: center;
    border: 2px solid #929c88;
    background-color: #929c88;
    color: white;
    position: absolute;
    transition: color 1s, background-color 1s, top 1s, border;
}

.world:hover{
    color: #929c88;
    background-color: white;
    border: 2px solid #929c88;
    top: 4500px;
}