@font-face {
  font-family: "iconfont"; /* Project id 3812455 */
  src: url('iconfont.woff2?t=1670487461212') format('woff2'),
      url('iconfont.woff?t=1670487461212') format('woff'),
      url('iconfont.ttf?t=1670487461212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
  content: "\e620";
}

.icon-RectangleCopy:before {
  content: "\e6ae";
}

.icon-msgnifier:before {
  content: "\e62b";
}

