@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.woff2?t=1672297724189') format('woff2'),
        url('iconfont/iconfont.woff?t=1672297724189') format('woff'),
        url('iconfont/iconfont.ttf?t=1672297724189') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 28px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    line-height: 40px;
}

.top{
    /* background-color: powderblue; */
    background-image: url(https://yunding7.oss-cn-beijing.aliyuncs.com/tortoise.png);
    background-size: 100% 100%;
    width: 100%;
    height: 928px;
}

.top_symbol{
    background-color:white;
    width: 100%;
    height: 48px;
}

.s1{
    /* background-color:white; */
    position: absolute;
    width: 74px;
    height: 48px;
    left: 0px;
    text-align: center;
    transition: all 0.5s;
}
.s1:hover {
    transform: scale(0.8);
}

.s2{
    /* background-color: white; */
    position: absolute;
    width: 64px;
    height: 48px;
    right: 0px;
    text-align: center;
    transition: all 0.5s;
}
.s2:hover {
    transform: scale(0.8);
}

.top_center{
    /* background-color: tomato; */
    position: relative;
    height: 880px;
    width: 1100px;
    margin: auto;
}

.camera{
    background-image: url(https://yunding7.oss-cn-beijing.aliyuncs.com/camera.png);
    /* background-color: palevioletred; */
    position: absolute;
    top: -48px;
    left: 440px;
    width: 200px;
    height: 200px;
    transition: all 0.5s;
}
.camera:hover {
    transform: scale(0.8);
}

.top_words{
    /* background-color: springgreen; */
    position:absolute;
    top: 276px;
    width: 1100px;
    height: 325px;
}

.top_words h1{
    color: #2a3f17;
    font-size: 50px; 
    text-align: center;
}

.top_words p {
    color: #2a3f17;
    font-size: 30px;
}

.expiore{
    position: absolute;
    top: 600px;
    width: 258px;
    height: 70px;
    background-color: #2a3f17;
}

.expiore p{
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 18px;
}

.white {
    background-color: white;
    width: 100%;
    height: 594px;
}

.white_center {
    /* background-color: tomato; */
    position: relative;
    height: 594px;
    width: 1100px;
    margin: auto;
}

.white_pictures{
    /* background-color: blue; */
    width: 1100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -144px;
}

.white_picture {
    /* background-color: yellow; */
    position: relative;
    width: 333px;
    height: 500px;
    transition: all 1s;
}
.white_picture:hover {
    transform: translateY(-60px);
}

.white_picture p{
    position: absolute;
    font-size: 36px;
    color: white;
    top: 350px;
    right: 50px;
}

.deer {
    /* background-color: olivedrab; */
    background-image: url(https://yunding7.oss-cn-beijing.aliyuncs.com/deer.png);
    background-size: 100% 100%;
    width: 100%;
    height: 762px;
}

.deer_center {
    /* background-color: tomato; */
    position: relative;
    height: 762px;
    width: 944px;
    margin: auto;
}

.deer_card{
    background-color: #e0dfdf;
    width: 944px;
    height: 538px;
    position: absolute;
    top: -85px;
    transition: all 1s;
}
.deer_card:hover {
    transform: translateY(-60px);
}

.deer_card p1{
    width: 800px;
    font-size:20px;
    position: absolute;
    top: 75px;
    left: 75px;
}

.signup{
    position: absolute;
    bottom: 63px;
    left: 372px;
    width: 179px;
    height: 70px;
    background-color: #2a3f17;
    transition: all 0.5s;
}
.signup:hover {
    transform: scale(0.8);
}

.signup h1{
    color: white;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
}

.difference {
    /* background-color: plum; */
    width: 100%;
    height: 846px;
}

.difference_center {
    /* background-color: tomato; */
    position: relative;
    height: 846px;
    width: 1146px;
    margin: auto;
}

.difference_center h1{
    position: absolute;
    top: 36px;
    left: 450px;
    font-size: 56px;
    color: #2a3f17;
    transition: all 1s;
}

/* .difference_center h1:hover:after,
.difference_center h1:hover:before {
    width: 100%;
    height: 100%;
}
.difference_center h1:before,
.difference_center h1:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    width: 0%;
    height: 0%;
}
.difference_center h1:before {
    top: 0px;
    left: 0px;
    border-width: 5px 0px 0px 0px;
    border-color: #2a3f17;;
    transition-property: height, width, border-width;
    transition-duration: 0.4s, 0.8s, 0s;
    transition-timing-function: ease-out;
    transition-delay: 1.2s, 1.2s, 1.6s;
}
.difference_center h1:hover:before {
    border-right-width: 5px;
    transition-property: width, height;
    transition-duration: 0.8s, 0.4s;
    transition-timing-function: ease-out;
    transition-delay: 0s, 0.8s;
}
.difference_center h1:after {
    bottom: 0px;
    right: 0px;
    border-width: 0px 0px 5px 0px;
    border-color: #2a3f17;
    ;
    transition-property: height, width, border-width;
    transition-duration: 0.4s, 0.8s, 0s;
    transition-timing-function: ease-out;
    transition-delay: 0s, 0.4s, 0.4s;
}
.difference_center h1:hover:after {
    border-left-width: 5px;
    transition-property: width, height, border-left-width;
    transition-duration: 0.8s, 0.4s, 0s;
    transition-timing-function: ease-out;
    transition-delay: 1.2s, 2s, 1.2s;
} */

.difference_pictures{
    /* background-color: blue; */
    width: 1146px;
    height: 418px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 156px;
}

.difference_picture{
    background-color: #e0dfdf;
    position: relative;
    width: 260px;
    height: 418px;
    transition: all 1s;
}
.difference_picture:hover {
    transform: translateY(-30px);
}

.difference_picture h2{
    color: #2a3f17;
    text-align: center;
}

.difference_picture p {
    color: #2a3f17;
    font-size: 26px;
    text-align: center;
    text-decoration: underline;
}

.more{
    /* background-color: hotpink; */
    width: 358px;
    height: 68px;
    position: absolute;
    left: 395px;
    bottom: 86px;
    border:5px solid #2a3f17;
    transition: all 1s;
}
.more:hover {
    background-color: #2a3f17;
}

.more h3{
    color: #2a3f17;
    text-align: center;
    font-size: 40px;
    line-height: 0px;
    transition: all 1s;
}
.more h3:hover {
    color: white;
}

.photo {
    /* background-color: greenyellow; */
    width: 100%;
    height: 1083px;
}

.photo_center {
    /* background-color: tomato; */
    position: relative;
    height: 1083px;
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.photo_squirrel{
    /* background-color: lightblue; */
    height: 1020px;
    width: 698px;
}

.photo_words{
    /* background-color: lightblue; */
    position: relative;
    height: 1020px;
    width: 588px;
}

.thephoto{
    /* background-color: violet; */
    width: 190px;
    height: 42px;
    position: absolute;
    top: 88px;transition: all 1s;
}
.thephoto:hover {
    transform: translateY(-30px);
}

.thephoto p{
    color: #2a3f17;
    font-size: 32px;
    line-height: 0px;
}

.para{
    /* background-color: violet; */
    width: 500px;
    height: 134px;
    position: absolute;
    top: 154px;
    transition: all 1s;
}
.para:hover {
    transform: scale(1.2) translateX(50px);
}

.para p {
    color: #2a3f17;
    font-size: 21px;
}

.one{
    /* background-color: violet; */
    width: 350px;
    height: 74px;
    position: absolute;
    top: 358px;
    transition: all 1s;
}   
.one:hover {
    transform: translateX(80px);
}

.two{
    /* background-color: violet; */
    width: 350px;
    height: 74px;
    position: absolute;
    top: 516px;
    transition: all 1s;
}
.two:hover {
    transform: translateX(80px);
}

.three{
    /* background-color: violet; */
    width: 350px;
    height: 74px;
    position: absolute;
    top: 676px;
    transition: all 1s;
}
.three:hover {
    transform: translateX(80px);
}

.four{
    /* background-color: violet; */
    width: 350px;
    height: 74px;
    position: absolute;
    top: 846px;
    transition: all 1s;
}    
.four:hover {
    transform: translateX(80px);
}

.num {
    /* background-color: yellow; */
    width: 74px;
    height: 74px;
    border-radius: 74px;
    border: 3px solid #2a3f17;
}

.num p {
    color: #2a3f17;
    font-size: 42px;
    line-height: 0px;
    text-align: center;
}

.cha {
    /* background-color:lavender; */
    width: 260px;
    height: 74px;
    position: absolute;
    top: 0px;
    left: 90px;
}

.cha p {
    color: #2a3f17;
    font-size: 20px;
    line-height:80px;
}

.bottom {
    /* background-color: peru; */
    width: 100%;
    height: 460px;
    border-top: 3px solid #2a3f17;
}

.bottom_center{
    /* background-color: tomato; */
    position: relative;
    height: 460px;
    width: 1260px;
    margin: auto;
}

.bottom_center h1 {
    position: absolute;
    top: 166px;
    left: 0px;
    color:#2a3f17;
    font-size: 40px;
}

.bottom_center h2 {
    position: absolute;
    top: 176px;
    left: 298px;
    color:#2a3f17;
    font-size: 30px;
}

.bottom_center p {
    position: absolute;
    top: 220px;
    left: 298px;
    color:#2a3f17;
    font-size: 30px;
}

.world{
    background-color: #949f8b;
    width: 360px;
    height: 72px;
    position: absolute;
    right: 0px;
    top: 194px;
    transition: all 1s;
}
.world:hover {
    transform: translateY(-30px);
    background-color: transparent;
    color: transparent;
}

.world h3{
    color: white;
    line-height: 0px;
    text-align: center;
    font-size: 34px;
}