  * {
            margin: 0;
            padding: 0;
        }
body {
    background-color: burlywood;
}
        .box {
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        .one {
            width: 500px;
            height: 50px;
            background-color: rgb(226, 185, 133);
            font-size: 30px;
            border: 10px solid;
        }
        .sec {
            width: 500px;
            height: 30px;
            background-color: antiquewhite;
            font-size: 18px;
            border: 10px solid;
        }
        #erji1   {
            display: none;
        }
        #erji2 {
            display: none;
        }
        #erji3 {
            display: none;
        }