@font-face {
  font-family: 'iconfont';
  src: url('font_3794132_xb7wntqqdep/iconfont.woff2?t=1671678182519') format('woff2'),
       url('font_3794132_xb7wntqqdep/iconfont.woff?t=1671678182519') format('woff'),
       url('font_3794132_xb7wntqqdep/iconfont.ttf?t=1671678182519') format('truetype');
}

.rectangle .iconfont {
    font-family: "iconfont" !important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: width 0.2s;
}
.rectangle .iconfont:hover{
    transform: scale(0.8);
}

* {
    margin: 0px;
    padding: 0px;
}

.background {
    width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.banner {
    width: 1920px;
    height: 1360px;
    background-color: #fff;
}

.rectangle {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.camera {
    width: 200px;
    height: 200px;
    background-color: #81c04b;
    transition: all .6s;
}
.camera:hover{
   transform: scale(0.8);
}

.round {
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 12px;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
        transition: width 1s;
}
.camera .iconfont{
    font-size: 120px;
    padding: 20px 40px;
    width: 120px;
    height: 120px;
    line-height: 180px;
    color: #fff;
}
.tortoise {
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E4%B9%8C%E9%BE%9F.png);
    width: 100%;
    height: 880px;
}

.Animal {
    width: 100%;
    height: 310px;
    color: #2a3f17;
    font-size: 72px;
    text-align: center;
    line-height: 510px;
}

.A_silhouette {
    margin: 0 auto;
    width: 1110px;
    height: 120px;
    font-size: 30px;
    color: #2a3f17;

}

.explore {
    margin: 0 auto;
    width: 1110px;
    height: 100px;
}

.green {
    margin-top: 120px;
    width: 260px;
    height: 72px;
    font-size: 36px;
    background-color: #2a3f17;
    color: #fff;
    text-align: center;
    line-height: 72px;
}

.flamingo {
    width: 1110px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.flamingo_1 {
    width: 330px;
    height: 500px;
    font-size: 48px;
    text-align: center;
    line-height: 800px;
    color: #fff;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F1.png);
    transition: all 0.6s;
}

.flamingo_1:hover{
    transform: translate(0,-50px);
}
.flamingo_2 {
    width: 330px;
    height: 500px;
    font-size: 48px;
    text-align: center;
    line-height: 800px;
    color: #fff;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F2.png);
    transition: all 0.6s;
}
.flamingo_2:hover {
    transform: translate(0, -50px);
}
.flamingo_3 {
    width: 330px;
    height: 500px;
    font-size: 48px;
    text-align: center;
    line-height: 800px;
    color: #fff;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E7%81%AB%E7%83%88%E9%B8%9F3.png);
    transition: all 0.6s;
}
.flamingo_3:hover {
    transform: translate(0, -50px);
}
.deer {
    width: 1920px;
    height: 843px;
    margin: 0 auto;
}

.box {
    display: flex;
    width: 100%;
    height: 81px;
}

.family {
    width: 945px;
    height: 540px;
    margin: 0 auto;
    background-color: #e0dfdf;
    transition: all .6s;
}
.family:hover{
    transform: translate(0, -50px);
}
.Farm {
    padding: 80px 75px;
    color: #2a3f17;
    font: 20px/36px 微软雅黑
}

.sign {
    margin: auto;
    width: 200px;
    height: 70px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    background-color: #2a3f17;
    transition: all .6s;
}
.sign:hover{
    color: #2a3f17;
    background-color: transparent
}
.ph_deer {
    width: 1920px;
    height: 760px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E9%B9%BF.png);
}

.Difference {
    width: 1920px;
    height: 574px;
}

.box_0{
    width: 100%;
    height: 160px;
}
.difference {
    width: 284px;
    height: 66px;
    margin: 30px auto;
    font-size: 48px;
    text-align: center;
    line-height: 66px;
    color: #2a3f17;
    transition: all 2s;
    position: relative;
}

.difference:before,
.difference:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    box-sizing: border-box;
    position: absolute;
}

.difference:before {
    top: 0;
    left: 0;
    transition: border-color 0s ease-in 0.8s, width 0.2s ease-in 0.6s, height 0.2s ease-in 0.4s;
}

.difference:after {
    right: 0;
    bottom: 0;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.2s, height 0.2s ease-in;
}

.difference:hover:before {
    width: 100%;
    height: 100%;
    transition: width 0.2s ease-in, height 0.2s ease-in 0.2s;
    border-top-color: #2a3f17;
    border-right-color: #2a3f17;
}

.difference:hover:after {
    width: 100%;
    height: 100%;
    transition: border-color 0s ease-in 0.4s, width 0.2s ease-in 0.4s, height 0.3s ease-in 0.6s;
    border-bottom-color: #2a3f17;
    border-left-color: #2a3f17;
}



.box_1 {
    width: 1145px;
    height: 415px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.box_2 {
    width: 260px;
    height: 415px;
    background-color: #e0dfdf;
    transition: all 0.6s;
}
.box_2:hover {
    transform: translate(0, -50px);
}
.PH_horse {
    width: 260px;
    height: 260px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/Horse.png);
}

.Horse {
    width: 260px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    color: #2a3f17;
}

.dif_story {
    width: 260px;
    height: 75px;
    font-size: 24px;
    text-align: center;
    line-height: 75px;
    color: #2a3f17;
    text-decoration: underline;
}

.PH_Kangaroo {
    width: 260px;
    height: 260px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/kangaroo.png);
}

.Kangaroo {
    width: 260px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    color: #2a3f17;
}

.PH_Lion {
    width: 260px;
    height: 260px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/Lion.png);
}

.Lion {
    width: 260px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    color: #2a3f17;
}

.PH_Hummingbird {
    width: 260px;
    height: 260px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/Hummingbird.png);
}

.Hummingbird {
    width: 260px;
    height: 75px;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    color: #2a3f17;
}

.squirrel {
    width: 100%;
    height: 1355px;
}

.know {
    width: 100%;
    height: 275px;
}

.bottom {
    width: 260px;
    height: 70px;
    margin: 100px auto;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: #2a3f17;
    border-style: solid;
    border-width: 2px;
    border-color: #2a3f17;
    transition: all 1s;     
}

.bottom:hover{
    background-color: #2a3f17;
    color: #fff;
}

.box_3 {
    width: 1400px;
    height: 1020px;
    margin: 0 auto;
    position: relative;

}

.PH_squirrel {
    width: 700px;
    height: 1020px;
    background-image: url(https://yedebucket.oss-cn-hangzhou.aliyuncs.com/%E6%9D%BE%E9%BC%A0.png);
    float: left;

}

.box_4 {
    width: 700px;
    height: 1020px;
    background-color: transparent;
    float: right;
}

.the_photo {
    width: 700px;
    height: 120px;
    font-size: 36px;
    color: #2a3f17;
    margin: 100px 0 0 100px;
    transition: all 0.6s;
}
.the_photo:hover{
    transform: translate(0,-50px);
}
.word {
    width: 700px;
    height: 120px;
    font-size: 28px;
    color: #2a3f17;
    margin: 0 100px;
    transition: all 0.6s;
}
.word:hover{
    transform: scale(1.2) translate(50px,0);
}
.box_5 {
    width: 700px;
    height: 680px;
    margin-left: 100px;
}
.box_6{
    width: 700px;
    height: 170px;
    display: flex;
    transition: all 0.6s;
}
.box_6 .iconfont{
    font-size: 56px;
    margin-top: 50px;
    color: #2a3f17;
}
.word_4{
    font-size: 20px;
    color: #2a3f17;
    height: 170px;
    line-height: 170px;
}

.box_6:hover{
    transform: translate(50px,0);
}

.base {
    width: 1920px;
    height: 462px;
    border-top: 3px solid #2a3f17;
    display: flex;
}

.word_0 {
    width: 440px;
    height: 462px;
}

.word_1 {
    width: 300px;
    height: 462px;
}

.wild {
    width: 300px;
    height: 231px;
    color: #2a3f17;
    font-size: 40px;
    line-height: 231px;
}

.sea {
    width: 300px;
    height: 231px;
    color: #2a3f17;
    font-size: 40px;
}

.more {
    width: 300px;
    height: 180px;
    color: #949f8b;
    font-size: 36px;
    line-height: 231px;
}

.create {
    width: 300px;
    height: 200px;
    color: #949f8b;
    font-size: 36px;
}

.word_3 {
    width: 880px;
    height: 462px;
}

.big_word {
    margin-top: 150px;
    margin-left: 100px;
    width: 360px;
    height: 73px;
    font-size: 36px;
    color: #fff;
    background-color: #949f8b;
    text-align: center;
    line-height: 73px;
    transition: all 1s;
}
.big_word:hover{
    transform: translate(0,-70px);
    background-color: #fff;
    color: #949f8b;
}