
body {
    background-color: #e2b985;
}

.box {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
}

.box_style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}

.box_ {
    height: 34px;
    overflow: hidden;
    cursor: pointer;
}

span {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.box1 {
    margin: 0 auto;
    background-color:beige;
    width: 200px;
    border-radius: 50%;
    text-align: center;
}