*{
    padding: 0;
    margin: 0;
}
.signIn{
    width: 404px;
    height: 260px;
    margin: 0 auto;
    position: relative;
}
.box{
    width: 400px;
    height: 50px;
    border: 2px solid burlywood ;
    margin-bottom: -2px;
}
.text{
    font-size: 30px;
    line-height: 50px;
    font-weight: bolder;
}
.put{
    font-size: 30px;
    width: 400px;
    height: 50px;
    background-color: transparent;
    border: none;
}
#btn{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    background-color: skyblue;
}
.false{
    border: 2px solid red;
    background-color: pink;
    font-size: 30px;
    width: 396px;
    height: 50px;
}
.success{
    height: 220px;
    width: 200px;
    background-color: palevioletred;
    margin: 0 auto;
    text-align: center;
    display: none;
}
.title{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.img{
    width: 100px;
    height: 100px;
}
.shibai{
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    font-size: 30px;
    height: 100px;
    width: 400px;
    background-color: palevioletred;
    display: none;
}