<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .father{
            width: 800px;
            margin: 0 auto;
            text-align: center;
            
        }
        .change{
            color: red;
        }
        .wordSearch p{
            font: 300;
        }
        .list{
            list-style: none;
        }
    </style>
</head>
<body>
        <div class="father" id="app">
            <input type="text" v-model="text" placeholder="请输入单词" @keyup.enter="Add">
            <div class="wordSearch">你要输入的单词是：<p>{{text}}</p></div>
            <div class="Button">
                <button @click="Add">添加</button>
                <button @click="Delet">删除</button>
            </div>
            <div :class="{change:Warning()}" v-if="Warning()">别加了！ 单词太多了</div>
            <ul v-if = "this.WordList.length!=0" class="list">
                <li v-for="word in WordList" :class="{change:Warning()}">
                    {{word}}
                </li>
            </ul>
        </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app =Vue.createApp({
        data:function(){
            return{
                text:'',
                WordList:[],
            }
        },
        methods:{
            Add(){
                if(this.text!=''){
                    this.WordList.push(this.text)
                }else{
                    alert("请输入单词")
                }
            },
            Delet(){
                this.WordList.pop()
            },
            Warning(){
                if(this.WordList.length>=5){
                    return true
                }else{
                    return false
                }
            }
        }
    })
    app.mount('#app')
</script>
</html>