* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  /* background-color: #bde3f2; */
}
.first,
.second {
  width: 400px;
  margin: 100px auto;
}
input {
  width: 350px;
  height: 30px;
  border: 3px double #666;
  border-style: none;
  border-bottom: 1px solid;
  outline: none;
}
#login {
  margin-top: 180px;
}
#button {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-80%);
  font-size: 30px;
}
p {
  position: absolute;
  left: 50%;
  transform: translateX(-74%);
  top: 340px;
}
#img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#loginni {
  visibility: hidden;
}
.box-content {
  position: absolute;
  top: 385px;
  left: 50%;
  transform: translateX(-50%);
}
