body {
    background-color: #e4b780;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#box {
    width: 400px;
    padding: 10px;
    margin: 100px auto;
    background-color: #000;
    border-radius: 15px;
    overflow: hidden;
}

#box h1 {
    /* width: 120px; */
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #e4b780;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: lighter;
}

#box ul {
    height: 0;
    overflow: hidden;
    transition: all .5s;
    /* margin: 10px auto; */
    margin-bottom: 20px;
}

#box ul li {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
    background: #ffe8c8;
}