@font-face {
  font-family: "iconfont"; /* Project id 3832283 */
  src: url('iconfont.woff2?t=1671437548933') format('woff2'),
       url('iconfont.woff?t=1671437548933') format('woff'),
       url('iconfont.ttf?t=1671437548933') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e618";
}

.icon-gengduo:before {
  content: "\e600";
}

