@font-face {
  font-family: "iconfont"; /* Project id 3794372 */
  src: url('iconfont.woff2?t=1671598017596') format('woff2'),
       url('iconfont.woff?t=1671598017596') format('woff'),
       url('iconfont.ttf?t=1671598017596') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangji:before {
  content: "\e606";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-row:before {
  content: "\e976";
}

.icon-jiantou_qiehuanzuo:before {
  content: "\eb06";
}

.icon-jinggao:before {
  content: "\e603";
}

