* {
    margin: 0;
    padding: 0;
}
.ling {
    width: 1415px;
    height: 802px;
    background-color: black;
}
.yi {
    width: 800px;
    height: 615px;
    margin: 0px auto;
    background-color: slategrey;
    border: 10px solid black;
    border-radius: 50px;
}
.yi div {
    height: 105px;
    overflow: hidden;
}
.yi div span {
    width: 800px;
    height: 100px;
    line-height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 50px;
    cursor: pointer;
}
a {
    margin: 5px 0;
    width: 800px;
    height: 80px;
    line-height: 90px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 40px;
    background-color: purple;
    font-size: 30px;
    color: black;
    }